<ngx-loading [show]="loading"></ngx-loading>
<div class="container-fluid">
  <!-- start page title -->
  <app-page-title
    title="{{ title }}"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>
  <!-- end page title -->

  <div class="row" *ngIf="!loading">
    <div class="offset-md-2 col-md-8 offset-md-2">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">{{ title }}</h4>

          <div class="table-responsive">
            <table class="table table-nowrap mb-0">
              <tbody>
                <tr>
                  <th scope="row">{{ ms.categories.formFields.title }} :</th>
                  <td>{{ category?.title }}</td>
                </tr>
                <tr>
                  <th scope="row">{{ ms.categories.formFields.active }} :</th>
                  <td>
                    
                    <span class="badge badge-pill badge-soft-success font-size-12" 
                    [ngClass]=" { 'badge-soft-success': category?.active,
                    'badge-soft-warning':!category?.active }">
                    {{active}}
                  </span>
                    </td>
                </tr>

                <tr>
                  <th scope="row">{{ ms.cruds.created }} :</th>
                  <td>{{ created }}</td>
                </tr>

                <tr>
                  <th scope="row">{{ ms.cruds.updated }} :</th>
                  <td>{{ updated }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>


      <div class="card">
        <div class="card-body">
            <div class="button-items">
              <a
              (click)="onBackClick()"
              href="javascript:void(0)"
              class="btn btn-light w-md"
            >
              {{ ms.cruds.back }}
            </a>

            <a
                  [routerLink]="'/'+this.endpoint+ms.cruds.edit(category?.id)"
                  href="javascript:void(0)"
                  class="btn btn-primary w-md"
                >
                  {{ ms.actions.EDIT }}
                </a>
              </div>
        </div>
      </div>

    </div>
  </div>
  <!-- end row -->
</div>
<!-- container-fluid -->
