



<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="card-header">
          
          <p class="card-title-desc">
            {{ messageRecords }}</p>

          <div class="row">
            <div class="col-lg-8">
              <div class="button-items">
                <a
                *ngIf="hasNew"
                  (click)="onNewClick()"
                  href="javascript:void(0)"
                  ngbTooltip="Nuevo"
                  class="btn btn-primary"
                >
                  <i class="fas fa-plus"></i> {{ms.addNew}}
                </a>
                <a
                  (click)="onReloadClick($event)"
                  href="javascript:void(0)"
                  ngbTooltip="Recargar"
                  class="btn btn-outline-light btn-sm"
                >
                  <i class="mdi mdi-sm mdi-reload"></i>
                </a>

                <a
                  (click)="exportAs('csv')"
                  href="javascript:void(0)"
                  ngbTooltip="Expotar a CSV"
                  class="btn btn-success btn-sm"
                >
                  <i class="fas fa-file-csv"></i>
                </a>
                <a
                (click)="onInfoClick()"
                      href="javascript:void(0)"
                      ngbTooltip="Información"
                      class="btn btn-info btn-sm"
                    >
                      <i class="mdi mdi-sm mdi-information"></i>
                    </a>

                
              </div>
              <br>
            </div>
            <div class="col-lg-4">
              <div class="input-group mb-3">
                <input
                  #search
                  id="search"
                  type="text"
                  (keyup.enter)="onEnter($event)"
                  formControlName="query"
                  placeholder="Buscar"
                  class="text-left form-control"
                />
                <div class="input-group-append">
                  <button
                    (click)="onSearchClick(search.value)"
                    class="btn btn-primary"
                    type="button"
                  >
                    <i class="dripicons-search"></i>
                  </button>
                </div>
              </div>
            </div>

            <div class="col-lg-8">
              <span
                class="bagde bagde-primary"
                role="button"
                (click)="onOrderClick($event)"
                >{{ms.order}}
                <i
                  [ngClass]="{
                    'bx-message-square-minus': orderToggle,
                    'bx-message-square-x': !orderToggle
                  }"
                  class="bx"
                ></i>
              </span>
            </div>
            <div class="col-lg-2">
              <select (change)="onActiveChange($event)" *ngIf="hasActive" class="form-control">
                <option *ngFor="let search of ms.actions.SEARCH_ACTIVES" value="{{search.value}}">{{search.name}}</option>
              </select>
            </div>

            <div class="col-lg-2">
              <select (change)="onRecodsChange($event)" class="form-control">
                <option *ngFor="let limit of ms.actions.LIMIT" value="{{limit}}">{{limit}}</option>
                
              </select>
            </div>

            
          </div>
        </div>
        <hr/>

        <ngx-skeleton-loader
          count="5"
          *ngIf="loading"
        >
      </ngx-skeleton-loader>
        <div class="table-responsive" *ngIf="!loading">
          <table
            class="table table-centered table-nowrap table-hover"
            id="crud-modal"
          >
            <thead class="thead-light">
              <tr>
                <th scope="col" *ngFor="let header of headers">
                  {{ header }}
                </th>
                <th *ngIf="actions" scope="col">{{ ms.actions.ACTIONS }}</th>
                <th *ngIf="seenAdmin" scope="col">{{ ms.actions.SEEN }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data">
                <td *ngFor="let field of fields" [innerHTML]="checkRecord(item[field],field)"></td>
                <td *ngIf="actions">
                  <ul class="list-inline font-size-18 contact-links mb-0">
                    <li *ngIf="hasEdit" class="list-inline-item px-1">
                      <a
                        ngbTooltip="Editar"
                        (click)="onEditClick(item.id)"
                        href="javascript:void(0);"
                      >
                        <i class="bx bx-door-open text-info"></i
                      ></a>
                    </li>
                    <li class="list-inline-item px-1">
                      <a
                        ngbTooltip="Mostrar"
                        [routerLink]="['/' + endpoint, item.id]"
                      >
                        <i class="mdi mdi-eye text-primary"></i
                      ></a>
                    </li>
                    <li *ngIf="hasDelete" class="list-inline-item px-1">
                      <a
                        ngbTooltip="Eliminar"
                        (click)="onDeleteClick($event, item.id)"
                        href="javascript:void(0);"
                      >
                        <i class="bx bx-trash-alt text-danger"></i
                      ></a>
                    </li>

                    <li *ngIf="hasActive" class="list-inline-item px-1">
                      <a
                        ngbTooltip="{{ getActiveValue(item.active) }}"
                        (click)="onActiveClick(item.id, item.active)"
                        href="javascript:void(0);"
                      >
                        <i
                          [ngClass]="{
                            bx: true,
                            'bxs-toggle-right text-success': item.active,
                            'bxs-toggle-left text-secondary': !item.active
                          }"
                        ></i
                      ></a>
                    </li>
                  </ul>
                </td>
                <td >
                  <a ngbTooltip="Marcar como visto" *ngIf="seenAdmin && !item.has_seen" href="javascript:void(0)" class="btn btn-sm btn-danger " (click)="onSeenClick(item)">
                    <i class="mdi mdi-lock-open-check "></i>
                  </a>
                  <a ngbTooltip="Vista previsa del perfil" *ngIf="seenAdmin" 
                  href="javascript:void(0)" class="btn btn-sm btn-success " (click)="onViewUserClick(item)">
                    <i class="bx bx bx-user   bg-success"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <p class="text-center" *ngIf="!hasRecords">{{ recordsNotFound }}</p>
        <div class="row" *ngIf="hasRecords">
          <div class="col-lg-12">
            {{ messageRecords }}

            <ul class="pagination pagination-rounded justify-content-left mt-4">
              <li [ngClass]="{ disabled: !leftArrow }" class="page-item">
                <a
                  (click)="backSegmentPages()"
                  href="javascript: void(0);"
                  class="page-link"
                  ><i class="mdi mdi-chevron-left"></i
                ></a>
              </li>
              <li
                *ngFor="let page of pages"
                [ngClass]="{ active: page === pageActive }"
                class="page-item"
              >
                <a
                  (click)="onNextPageClick($event, page)"
                  href="javascript: void(0);"
                  class="page-link"
                  >{{ page }}</a
                >
              </li>

              <li [ngClass]="{ disabled: !rightArrow }" class="page-item">
                <a
                  (click)="nextSegmentPages()"
                  href="javascript: void(0);"
                  class="page-link"
                  ><i class="mdi mdi-chevron-right"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
