
<div class="card overflow-hidden">
<div class="bg-soft-secondary">
    <div class="row">
    <div class="col-7">
        <div class="text-primary p-3">
        <h5 class="text-primary">{{ms.profile.GREETING}}</h5>
        <p>{{ms.profile.DESCRIPTION}}</p>
        </div>
    </div>
    <div class="col-5 align-self-end">
        <img src="assets/images/profile-img.png" alt="" class="img-fluid">
    </div>
    </div>
</div>
<div class="card-body pt-0">
    <div class="row">
    <div class="col-sm-4">
        <div class="avatar-md profile-user-wid mb-4">
        <img src="{{profileImage}}" alt="" class="img-thumbnail rounded-circle">
        </div>
        <h5 class="font-size-15 ">{{profile?.username}}</h5>
        <p class="text-muted mb-0 ">{{profile?.description}}</p>
    </div>

    <div class="col-sm-8">
        <div class="pt-4">

        <div class="row">
            
        </div>
        </div>
    </div>
    </div>
</div>
</div>
<!-- end card -->

<div class="card">
<div class="card-body">
    <h4 class="card-title mb-4">{{ms.profile.PERSONAL}}</h4>

    <div class="table-responsive">
    <table class="table table-nowrap mb-0">
        <tbody>
        <tr>
            <th scope="row">{{ms.profile.FULLNAME}} :</th>
            <td>{{profile?.fullname}}</td>
        </tr>
        <tr>
            <th scope="row">E-mail :</th>
            <td>{{profile?.email}}</td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
</div>
<!-- end card -->