<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <input class="form-control form-control-lg" 
                type="text" placeholder="{{ms.search_dashboard.WHAT}}">
            </div>

            <div class="col-lg-6">
                <ng-select 
                (search)="onSearchKey($event)"
                notFoundText="No se encuentra"
                bindValue="id"
                bindLabel="name"
                [loading]=loadingText
                loadingText="Buscando..."
                [minTermLength]=3
                [virtualScroll]=true
                [clearOnBackspace]=true
                groupBy="description"
                appendTo='body'
                (change)="onSearchChange($event)"
                placeholder="{{ms.search_dashboard.WHERE}}" [items]="locations"></ng-select>
            </div>

            <ul class="list-inline wizard mb-0">
                <li class="next list-inline-item float-right">
                    <button (click)="onSearchClick()" type="button" class="btn btn-primary btn-block">{{ms.search_dashboard.SEARCH}}</button>
                </li>
              </ul>
        </div>
        <!-- end row -->
    </div>
</div>