<!DOCTYPE html>
<html>

<head>
  <mate charest="utf-8" />
  <title>CV</title>
</head>
<style>
  @import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

  * {
    max-width: 700px;
    margin: auto;
    font-family: 'Quicksand', sans-serif;
  }

  body {
    min-width: 500px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    line-height: 1.58;
    letter-spacing: -.003em;
    font-size: 12px;
  }

  div {
    border-radius: 5px;
  }

  #header {
    height: 40px;
    width: 100%;
    background-color: #546de5;
    position: fixed;
    z-index: 1;
  }

  #title {
    margin-left: 3%;
  }

  #footer {
    height: 50px;
    width: 100%;
    background-color: #546de5;
    clear: both;
    position: relative;
  }

  .left {
    height: 1000px;
    width: 45px;
    background-color: rgb(169, 181, 245);
    float: left;
    position: fixed;
  }

  .right {
    height: 1000px;
    width: 45px;
    background-color: rgb(169, 181, 245);
    float: right;
    position: inherit;
  }

  .stuff {
    display: inline-block;
    margin-top: 6px;
    margin-left: 55px;
    width: 75%;
    height: 1000px;
  }


  .head {
    font-size: 20px;
  }

  #name {
    float: right;
    margin-top: 10px;
    margin-right: 4%;
  }

  a {
    color: black;
    text-decoration: none;
  }

  @media only screen and (max-width: 430px) {

    .left,
    .right {
      display: none;
    }

    .stuff {
      width: 100%;
      margin-left: 10px;
    }
  }

</style>

<body>

  <div id="header"></div>
  <div class="left"></div>
  <div class="stuff">
    <br><br>
    <h3>{{this.title_basic}}</h3>
    <h4>Sexo: {{this.sex_basic}}</h4>
    <h4>Nacionalidad: {{this.nationality_basic}}</h4>
    <h4>Edad: {{this.birthday_basic}}</h4>
    <hr />
    <br>
    <h4>Lugar: {{this.location}} <div style="text-align: right;">Contacto: {{this.contact}}</div> </h4>
    <hr />
    <br>
    <p class="head">Área académica</p>
    <ul>
      <li>{{this.academic}}</li>
    </ul>
  </div>
  <div class="right"></div>
  <div id="footer">
    <h2 id="name"></h2>
  </div>


</body>

</html>
