<ngx-loading [show]="loading"></ngx-loading>

<div class="home-btn d-none d-sm-block">
  <a [routerLink]="['/']" href="javascript:void(0)" class="text-dark"><i class="fas fa-home h2"></i></a>
</div>
<div class="account-pages my-5 pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-soft-primary">
            <div class="row">
              <div class="col-7">
                <div class="text-primary p-4">
                  <h5 class="text-primary">{{ms.register.CREATE_ACCOUNT}}</h5>
                  <p>{{ms.register.FREE}}</p>
                </div>
              </div>
              <div class="col-5 align-self-end">
                <img src="assets/images/profile-img.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div>
              <a href="/">
                <div class="avatar-md profile-user-wid mb-4">
                  <span class="avatar-title rounded-circle bg-light">
                    <img src="assets/images/logo.png" alt="" class="rounded-circle" height="34">
                  </span>
                </div>
              </a>
            </div>
            <div class="p-2">

              <form class="form-horizontal" name="signupForm" [formGroup]="signupForm" (ngSubmit)="onSubmit()"
                novalidate>


                <ngb-alert type="danger" *ngIf="error"  [innerHTML]="error" [dismissible]="false">{{error}}</ngb-alert>


                <div class="form-group mb-3">
                  <label for="email">{{ms.fields.email}}</label>
                  <input type="email" formControlName="email" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email" />
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">{{ms.valid.required}}</div>
                    <div *ngIf="f.email.errors.email">{{ms.valid.email}}</div>
                  </div>
                </div>

                <div class="form-group mb-3">
                  <label for="password">{{ms.fields.password}}</label>
                  <div class="input-group">
                    <input  [type]="fieldTextType ? 'text' : 'password'" formControlName="password" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="password" />
                    <div class="input-group-append">
                      <span class="input-group-text bg-white ">
                        <i class="text-primary fa"
                        [ngClass]="{
                          'fa-eye-slash': !fieldTextType,
                          'fa-eye': fieldTextType
                        }" (click)="onClickFieldTextType()"></i>
                      </span>
                    </div>
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">{{ms.valid.required}}</div>
                      <div *ngIf="f.password.errors.minlength">Debe contener al menos 8 caracteres</div>
                    </div>
                  </div>
                </div>


                <div class="form-group mb-3">
                  <label for="rePassword">{{ms.fields.password_confirm}}</label>
                  <div class="input-group">
                    <input  [type]="fieldTextType ? 'text' : 'password'" formControlName="rePassword" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.rePassword.errors }" id="rePassword" />
                    <div class="input-group-append">
                      <span class="input-group-text bg-white ">
                        <i class="text-primary fa"
                        [ngClass]="{
                          'fa-eye-slash': !fieldTextType,
                          'fa-eye': fieldTextType
                        }" (click)="onClickFieldTextType()"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div *ngIf="submitted && signupForm.errors?.passwordMatch"  class="cross-validation-error-message alert alert-danger">
                  <div >{{ms.valid.match}}</div>
                </div>



                <div class="form-group mb-3">
                  <label for="{{ms.fields.FIRST_NAME}}">{{ms.fields.FIRST_NAME}}</label>

                  <input type="text" formControlName="first_name" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }" id="first_name" />

                  <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
                    <div *ngIf="f.first_name.errors.required">{{ms.valid.required}}</div>
                    <div *ngIf="f.first_name.errors.minlength">{{ms.valid.minChar(minChar)}}</div>
                    <div *ngIf="f.first_name.errors.maxlength">{{ms.valid.maxChar(maxChar)}}</div>
                  </div>
                </div>

                <div class="form-group mb-3">
                  <label for="{{ms.fields.MIDDLE_NAME}}">{{ms.fields.MIDDLE_NAME}}</label>

                  <input type="text" formControlName="middle_name" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.middle_name.errors }" id="middle_name" />

                  <div *ngIf="submitted && f.middle_name.errors" class="invalid-feedback">
                    <div *ngIf="f.middle_name.errors.required">{{ms.valid.required}}</div>
                    <div *ngIf="f.middle_name.errors.minlength">{{ms.valid.minChar(minChar)}}</div>
                    <div *ngIf="f.middle_name.errors.maxlength">{{ms.valid.maxChar(maxChar)}}</div>
                  </div>
                </div>

                <div class="form-group mb-3">
                  <label for="{{ms.fields.LAST_NAME}}">{{ms.fields.LAST_NAME}}</label>

                  <input type="text" formControlName="last_name" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.last_name.errors }" id="last_name" />

                  <div *ngIf="submitted && f.last_name.errors" class="invalid-feedback">
                    <div *ngIf="f.last_name.errors.required">{{ms.valid.required}}</div>
                    <div *ngIf="f.last_name.errors.minlength">{{ms.valid.minChar(minChar)}}</div>
                    <div *ngIf="f.last_name.errors.maxlength">{{ms.valid.maxChar(maxChar)}}</div>
                  </div>
                </div>




                <div class="mt-4">
                  <button class="btn btn-primary btn-block" type="submit">{{ms.register.DESC}}</button>
                </div>
                <div class="mt-4 text-center">
                  <p class="mb-0">{{ms.register.TERMS_USE}}
                    <a [routerLink]="['/account/terms']" class="text-primary">{{ms.register.TERMS_USE_LINK}}</a>
                    {{ms.register.POLICY}}
                    <a [routerLink]="['/account/policy']" class="text-primary">{{ms.register.POLICY_LINK}}</a>
                  </p>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- end card -->

        <div class="mt-5 text-center">
          <p>{{ms.register.ALREADY_ACCOUNT}}
            <a routerLink="/account/login" class="font-weight-medium text-primary"> {{ms.login.LOG}}</a>
          </p>
          <p>© {{year}} <i class="mdi mdi-heart text-danger"></i> {{ms.brand.SYSTEM}}</p>
        </div>
        <div class="col-sm-12">
          <div class="text-sm-center d-none d-sm-block">
              {{ms.current_version}} <span [innerHTML]="ms.brand_me"></span>
          </div>
      </div>
      </div> <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end page -->
