<ngx-loading [show]="loading"></ngx-loading>
<div class="container-fluid">

  <!-- start page title -->
  <app-page-title title="" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <!-- end page title -->

  <div class="row" *ngIf="!loading">
    <div class="offset-md-2 col-md-8 offset-md-2">
      <div class="card">
        <div class="card-body">
          <ngb-alert type="danger" *ngIf="errors"  [innerHTML]="errors" [dismissible]="false">{{errors}}</ngb-alert>
          <div class="text-primary p-4 text-left">
            <h5 class="text-primary">{{value}}</h5>
          </div>
         
          <form  class="needs-validation" name="settingsForm" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
            
            
            <div class="form-group row mb-4">
              <label for="email" class="col-form-label col-lg-2">{{model.formFields.title}}</label>
              <div class="col-lg-10">
                <input type="text" formControlName="title"  class="form-control" 
                [ngClass]="{ 'is-invalid': submitted && f.title.errors }" 
                placeholder="Ingresa un título" />
                <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                  <div *ngIf="f.title.errors.required">{{ms.valid.required}}</div>
                </div>
              </div>
            </div>

            <div class="form-group row mb-4">
              <label for="email" class="col-form-label col-lg-2">{{model.formFields.description}}</label>
              <div class="col-lg-10">
                <textarea formControlName="description"  class="form-control" 
                placeholder="Ingresa un descripción"></textarea>
              </div>
            </div>

            <div class="form-group row mb-4">
              <label for="email" class="col-form-label col-lg-2">{{model.formFields.active}}</label>
              <div class="col-lg-10">

                <div class="custom-control custom-switch mb-2" dir="ltr">
                  <input formControlName="active" type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                  <label class="custom-control-label" for="customSwitch1"></label>
                </div>
              </div>
            </div>


          
          <div class="row justify-content-end">
            <div class="col-lg-10">
              
              <div class="button-items">
                <a (click)="onBackClick()" href="javascript:void(0)" class="btn btn-light w-md">
                  {{ms.cruds.cancel}}
                </a>
              <button [disabled]="form.pristine" type="submit" class="btn btn-primary w-md">
                  {{ms.cruds.save}}
              </button>
              
            </div>
            </div>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->

</div> <!-- container-fluid -->
