<div class="home-btn d-none d-sm-block">
  <a [routerLink]="['/']" href="javascript:void(0)" class="text-dark"><i class="fas fa-home h2"></i></a>
  </div>
  <div class="account-pages my-5 pt-sm-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
          <div class="card overflow-hidden">
            <div class="bg-soft-primary">
              <div class="row">
                <div class="col-7">
                  <div class="text-primary p-4">
                    <h5 class="text-primary"> Cambiar contraseña</h5>
                    <p>Ingrese tu nueva contraseña.</p>
                  </div>
                </div>
                <div class="col-5 align-self-end">
                  <img src="assets/images/profile-img.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="card-body pt-0">
              <div>
                <a href="/">
                  <div class="avatar-md profile-user-wid mb-4">
                    <span class="avatar-title rounded-circle bg-light">
                      <img src="assets/images/logo.png" alt="" class="rounded-circle" height="34">
                    </span>
                  </div>
                </a>
              </div>
  
              <div *ngIf="loading" class="spinner-border text-success m-1" >
                <span class="sr-only">Loading...</span>
              </div>
              <form *ngIf="!loading" class="needs-validation" name="changeForm" [formGroup]="changeForm" (ngSubmit)="onSubmit()" novalidate>
  
                
                <div class="form-group mb-3">
                    <label for="password">Nueva Contraseña</label>
  
                    <input type="password" formControlName="password"  class="form-control" id="password"
                      [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Contraseña" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Contraseña es requerido</div>
                        <div *ngIf="f.password.errors.minlength">Debe contener al menos 8 caracteres</div>
                    </div>

                    
                    
                  </div>
                  <div class="form-group mb-3">
                    <label for="rePassword">Re-ingresa tu nueva contraseña</label>
  
                    <input type="password" formControlName="rePassword" class="form-control" id="rePassword" 
                    [ngClass]="{ 'is-invalid': submitted && f.rePassword.errors }" placeholder="Contraseña" />
                    <div *ngIf="submitted && f.rePassword.errors" class="invalid-feedback">
                      <div *ngIf="f.rePassword.errors.required">Contraseña es requerido</div>
                      <div *ngIf="f.rePassword.errors.minlength">Debe contener al menos 8 caracteres</div>
                    </div>

                    
                    
                  </div>
                  <div *ngIf="submitted && changeForm.errors?.passwordMatch"  class="cross-validation-error-message alert alert-danger">
                    <div >{{ms.valid.match}}</div>
                  </div>



                <div class="form-group mb-0 row">
                  <div class="col-12 text-center">
                    <button  class="btn btn-primary w-md" type="submit">Restablecer</button>
                  </div>
                </div>
              </form>
            
  
  
            </div> <!-- end card-body-->
          </div>
          <!-- end card -->
          <div class="mt-5 text-center">
            <p>Lo recuerdas ? <a routerLink="/account/login" class="font-weight-medium text-primary"> Inicia sesión aquí</a> </p>
            <p>© {{year}} <i class="mdi mdi-heart text-danger"></i> Total Empleos </p>
          </div>
  
        </div> <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end page -->
  