<ngx-loading [show]="loading"></ngx-loading>
<div class="container-fluid">
  <app-page-title title="{{model.TITLE}}" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <crud-modal></crud-modal>

</div>
