<header id="page-topbar">
  <div class="navbar-header">
    <div class="d-flex">
      <!-- LOGO -->
      <div class="navbar-brand-box">
        <a (click)="onDashboardClick()" href="javascript:void(0);" class="logo logo-dark">
          <span class="logo-sm">
            <img src="assets/images/logo.png" alt="" height="22">
          </span>
          <span class="logo-lg">
            <img src="assets/images/logo-light.png" alt="" height="30">
          </span>
        </a>

        <a (click)="onDashboardClick()" href="javascript:void(0);" class="logo logo-light">
          <span class="logo-sm">
            <img src="assets/images/logo-light.svg" alt="" height="22">
          </span>
          <span class="logo-lg">
            <img src="assets/images/logo-light.png" alt="" height="30">
          </span>
        </a>
      </div>

      <button type="button" class="btn btn-sm px-3 font-size-16 d-lg-none header-item" (click)="toggleMenubar()">
        <i class="fa fa-fw fa-bars"></i>
      </button>




    </div>

    <div class="d-flex">




      <div class="dropdown d-none d-lg-inline-block ml-1">
        <button type="button" class="btn header-item noti-icon" data-toggle="fullscreen" (click)="fullscreen()">
          <i class="bx bx-fullscreen"></i>
        </button>
      </div>

      <div class="dropdown d-inline-block" ngbDropdown>
        <button type="button" class="btn header-item" id="page-header-user-dropdown" ngbDropdownToggle>
          <img class="rounded-circle header-profile-user" src="{{avatar}}" alt="Header Avatar">
          
          <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>

          <a class="dropdown-item" href="javascript:void(0);">
            @{{username}}</a>
            <div class="dropdown-divider"></div>
          <!-- item-->
          <a (click)="onProfileClick()" class="dropdown-item" href="javascript:void(0);"><i class="bx bx-user font-size-16 align-middle mr-1"></i>
            {{ ms.profile.TITLE}}</a>
             <a (click)="onSettingsClick()" class="dropdown-item d-block" href="javascript:void(0);"><i
              class="bx bx-wrench font-size-16 align-middle mr-1"></i>{{ ms.config}} </a>
        
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-danger" href="javascript: void(0);" (click)="logout()"><i
              class="bx bx-power-off font-size-16 align-middle mr-1 text-danger"></i>
              {{ ms.logout}}</a>
        </div>
      </div>

    </div>
  </div>
</header>
<div class="topnav">
  <div class="container-fluid">
    <nav class="navbar navbar-dark navbar-expand-lg topnav-menu active">
      <div class="collapse navbar-collapse active" id="topnav-menu-content">
        <app-menu permission="{{permission}}"></app-menu>
      </div>
    </nav>
  </div>
</div>
