<ngx-loading [show]="loading"></ngx-loading>
<div class="container-fluid">
    <app-page-title title="{{ms.profile.TITLE}}" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <div class="col-xl-4">
          <app-common-information [payload]="profile"></app-common-information>
        </div>
    
        <div class="col-xl-8">
          <profile-admin-data></profile-admin-data>
          <profile-employer-data></profile-employer-data>
          <profile-seeker-data></profile-seeker-data>
        </div>
      </div>
</div>