<div class="container-fluid">


  <div class="checkout-tabs">
    <div class="row">
      <div class="col-lg-12">

        <a ngbNavLink>
          <i class="bx bx-check-shield d-block check-nav-icon mt-4 mb-2"></i>
          <p class="font-weight-bold mb-4">{{ms.policy.WELCOME}}</p>
        </a>

        <div class="card">
          <div class="card-body">
            <div class="tab-pane">
              <h4 class="card-title mb-5">{{ms.policy.title}}</h4>

              <div class="faq-box media mb-4">
                <div class="faq-icon mr-3">
                  <i class="bx bx-help-circle font-size-20 text-success"></i>
                </div>
                <div class="media-body">
                  <h5 class="font-size-15">
                    I. DE LA IDENTIDAD Y DOMICILIO DEL RESPONSABLE.
                  </h5>
                  <p class="text-muted">
                    Este documento es el Aviso de Privacidad de Maribel Ramirez Alvarado y/o TotalEmpleos (el
                    "Responsable"), quien será el encargado de tratar los datos personales que usted (el "Titular") nos
                    proporcione. Para los efectos señalados en el presente Aviso de Privacidad, el Responsable señala
                    como su domicilio el ubicado en C. Miguel Angel Olea Núm 1009 Col Cuauhtémoc en Chihuahua Chih.
                    México.
                  </p>
                </div>
              </div>

              <div class="faq-box media mb-4">
                <div class="faq-icon mr-3">
                  <i class="bx bx-help-circle font-size-20 text-success"></i>
                </div>
                <div class="media-body">
                  <h5 class="font-size-15">
                    II. DE LOS DATOS PERSONALES QUE SERÁN SOMETIDOS A TRATAMIENTO.
                  </h5>
                  <p class="text-muted">
                    Los datos personales que el Titular proporcione a través del llenado y remisión electrónica de
                    formularios contenidos en el sitio web y/o fanpage y que serán sometidos a tratamiento son: (i)
                    nombre(s), apellido paterno y apellido materno; (ii) domicilio; (iii) correo electrónico; (iv)
                    número de teléfono, celular; (v) fotografía; (vi) información sobre grados académicos (vii) lo
                    relativo a historial académico y laboral (empleos anteriores); (viii) y datos relativos a interés en
                    puestos de trabajo; (ix) aptitudes y capacidades; y (x) pretensiones laborales (incluyendo sueldo)
                    (los "Datos").
                    Los datos personales del Titular serán almacenados por el Responsable para la prestación de los
                    servicios durante el tiempo que el Titular esté registrado en el Sitio, a menos que el Titular
                    ejerza el derecho de Cancelación de estos mediante el procedimiento establecido en el número VII de
                    este Aviso.
                  </p>
                </div>
              </div>

              <div class="faq-box media mb-4">
                <div class="faq-icon mr-3">
                  <i class="bx bx-help-circle font-size-20 text-success"></i>
                </div>
                <div class="media-body">
                  <h5 class="font-size-15">
                    III. DE LOS DATOS PERSONALES SENSIBLES.
                  </h5>
                  <p class="text-muted">
                    El Responsable no solicitará en forma alguna, y el Titular no proporcionará en ningún momento al
                    Responsable, "datos personales sensibles", es decir, aquellos datos personales íntimos o cuya
                    utilización indebida pueda dar origen a discriminación o conlleve un riesgo grave para el Titular.
                    El Titular se obliga a no proporcionar al Responsable ninguna información relativa a su origen
                    racial o étnico, estado de salud presente y/o futuro, información genética, creencias religiosas,
                    filosóficas y/o morales, afiliación sindical, opiniones políticas y/o preferencia sexual. En caso de
                    que el Titular proporcione datos sensibles a través de documentos subidos al sitio web, o por medio
                    de los formularios, acepta y consiente que los mismos sean tratados conforme a los términos y
                    condiciones del sitio web y a su Aviso de Privacidad, siendo obligación del Titular no proporcionar
                    este tipo de datos en la información que sea subida al sitio web.
                  </p>
                </div>
              </div>


              <div class="faq-box media mb-4">
                <div class="faq-icon mr-3">
                  <i class="bx bx-help-circle font-size-20 text-success"></i>
                </div>
                <div class="media-body">
                  <h5 class="font-size-15">
                    IV. DE LOS DATOS FINANCIEROS.
                  </h5>
                  <p class="text-muted">
                    El Responsable recaba datos financieros que resultan necesarios para efectos de pago de nuestros
                    servicios con cargo a tarjeta de crédito. Entre estos datos se encuentran: (i) Tipo de tarjeta; (ii)
                    Número de tarjeta; (iii) Código de verificación de tarjeta; (iv) Información de contacto; y (v)
                    Datos de facturación.
                  </p>
                </div>
              </div>

              <div class="faq-box media mb-4">
                <div class="faq-icon mr-3">
                  <i class="bx bx-help-circle font-size-20 text-success"></i>
                </div>
                <div class="media-body">
                  <h5 class="font-size-15">
                    V. DEL USO A SUS DATOS.
                  </h5>
                  <p class="text-muted">
                    Sus Datos serán tratados para las siguientes finalidades:
                    <br /><br />
                    a. Finalidad Primaria: Prestación de servicios a través de su sitio de internet y/o fanpage para
                    proporcionar una plataforma para la publicación de ofertas de trabajo y búsqueda de empleo por
                    terceros, incluyendo: (i) Promoción de oferta laboral frente a terceros; (ii) Procesos de
                    contratación laboral o de prestación de servicios independientes frente a terceros; (iii) Entrega de
                    referencias en caso de que otra persona o empresa solicite informes sobre posibles candidatos a un
                    puesto, trabajo, cargo o comisión; (iv) Para publicarlos para posibles reclutadores.
                    b. Finalidad Secundaria: Mejora del proceso comercial y de mercadotecnia así como participación en
                    asistencia social, utilizando la información para: (i) La compra de bienes o servicios; (ii)
                    Procurar un servicio eficiente y proveer una mejor atención al Titular, así como para mejorar su
                    experiencia en el uso de ciertos productos y/o servicios; (iii) Enviarle y presentarle bienes y/o
                    servicios que puedan resultar relevantes o atractivos, incluyendo su participación en promociones,
                    encuestas, ofertas y campañas de publicidad, propias o de terceros; (iv) Informar sobre cambios o
                    nuevos productos o servicios que consideramos puedan ser de su interés; (v) Dar cumplimiento a
                    obligaciones legales; (vi) Evaluar la calidad del servicio o realizar estudios internos sobre
                    hábitos de consumo; (vii) Compartir sus datos con instituciones públicas o privadas, en las cuales
                    sea del interés del Titular ayudar como voluntario en casos de desastre o emergencia a nivel local o
                    nacional.
                  </p>
                </div>
              </div>

              <div class="faq-box media mb-4">
                <div class="faq-icon mr-3">
                  <i class="bx bx-help-circle font-size-20 text-success"></i>
                </div>
                <div class="media-body">
                  <h5 class="font-size-15">
                    VI. DEL TRATAMIENTO DE LOS DATOS Y SU NEGATIVA.
                  </h5>
                  <p class="text-muted">
                    Para poder cumplir con las finalidades de este Aviso de Privacidad, así como para poder tratar los
                    Datos, es posible que el Responsable entregue todo o parte de los Datos a terceras personas, las que
                    podrán ser físicas o morales, nacionales o extranjeras, empresas filiales o subsidiarias, incluyendo
                    proveedores de bienes o servicios, que requieran conocer esta información, incluyendo servidores de
                    almacenamiento de información, quienes quedarán obligados, por contrato, a mantener la
                    confidencialidad de los Datos y conforme a este Aviso de Privacidad. Los terceros receptores, podrán
                    ser, de forma enunciativa, más no limitativa, empresas industriales, comerciales y/o de servicios.
                    <br /><br />
                    Durante la prestación de los servicios, Maribel Ramirez Alvarado y/o TotalEmpleos puede hacer uso de
                    una serie de procesos automatizados de tratamiento de sus datos a fin de brindarle servicios más
                    personalizados, como realizar recomendaciones de ofertas laborales o educativas de acuerdo con su
                    perfil
                    <br /><br />
                    El Responsable se compromete a contar con las medidas físicas, administrativas y técnicas de
                    seguridad suficientes y necesarias para garantizar que sus Datos permanezcan seguros.
                    <br /><br />
                    El Responsable estará facultado para dar el tratamiento que crea adecuado a los Datos, siempre y
                    cuando este tratamiento se haga con relación a las finalidades señaladas en el inciso (a) de la
                    Sección V del presente Aviso de Privacidad; para el tratamiento de las finalidades señaladas en el
                    inciso (b) de la citada Sección, el Responsable podrá realizar dicho tratamiento hasta que no reciba
                    la negativa por parte del Titular.
                    <br /><br />
                    El Titular no deberá añadir datos personales no requeridos o diferentes a aquellos solicitados por
                    el Responsable en los campos designados para ello, ya que cualquier conducta contraria no garantiza
                    la confidencialidad de dicha información.
                    <br /><br />
                    A efecto de que el Titular pueda manifestar su negativa o revocar el consentimiento para el
                    tratamiento de sus datos personales, deberá dirigirse al Responsable por medio del procedimiento
                    establecido para el ejercicio de los Derechos ARCO (cuyo término se define más adelante), señalado
                    en la Sección VII del presente Aviso de Privacidad.
                  </p>
                </div>
              </div>


              <div class="faq-box media mb-4">
                <div class="faq-icon mr-3">
                  <i class="bx bx-help-circle font-size-20 text-success"></i>
                </div>
                <div class="media-body">
                  <h5 class="font-size-15">
                    VII. DEL EJERCICIO DE LOS DERECHOS ARCO.
                  </h5>
                  <p class="text-muted">
                    El Titular tendrá derecho para solicitar al Responsable en cualquier momento el acceso,
                    rectificación, cancelación u oposición respecto de sus Datos (los "Derechos ARCO"), para lo cual
                    deberá enviar una solicitud al correo electrónico: aramirez.totalmedia@hotmail.com.
                    <br /><br />
                    La solicitud para ejercer los Derechos ARCO, o para revocar el consentimiento al tratamiento de los
                    datos personales, deberá contener y estar acompañada de lo siguiente: (i) el nombre, apellido
                    paterno y materno del Titular; (ii) su domicilio y/o correo electrónico y/o cualquier otro medio
                    para comunicarle la respuesta a su solicitud; (iii) los documentos oficiales que acrediten la
                    identidad o, en su caso, la representación legal del Titular; (iv) la descripción clara y precisa de
                    los Datos respecto de los que se busca ejercer alguno de los derechos antes mencionados; y (v)
                    cualquier otro elemento o documento que facilite la localización de los Datos del Titular.
                    <br /><br />
                    Una vez que el Responsable reciba la solicitud referente al ejercicio de sus Derechos ARCO, el
                    Responsable dentro de los 15 días hábiles tendrá que analizar, atender y enviar al Titular la
                    respuesta correspondiente. El medio del envío de la respuesta podrá ser por la forma que indique el
                    Titular o utilizando el mismo medio por el cual el Titular le hizo llegar el correspondiente escrito
                    al Responsable.
                  </p>
                </div>
              </div>

              <div class="faq-box media mb-4">
                <div class="faq-icon mr-3">
                  <i class="bx bx-help-circle font-size-20 text-success"></i>
                </div>
                <div class="media-body">
                  <h5 class="font-size-15">
                    VIII. DEL MAILING.
                  </h5>
                  <p class="text-muted">
                    Para suprimir la recepción de mailing publicitario, el Titular podrá realizarlo seleccionando la
                    opción desuscribir o unsubscribe que se encuentra al final de la comunicación recibida, o bien,
                    mediante el correo electrónico a aramirez.totalmedia@hotmail.com con el asunto “desuscribir
                    publicidad”.
                  </p>
                </div>
              </div>

              <div class="faq-box media mb-4">
                <div class="faq-icon mr-3">
                  <i class="bx bx-help-circle font-size-20 text-success"></i>
                </div>
                <div class="media-body">
                  <h5 class="font-size-15">
                    IX. DE OTROS MEDIOS PARA LIMITAR EL USO O DIVULGACIÓN DE LOS DATOS.
                  </h5>
                  <p class="text-muted">
                    Para limitar el tratamiento de los Datos, el Titular únicamente tendrá los medios señalados en el
                    presente Aviso de Privacidad. Quedará a elección del Titular, acudir o solicitar vía telefónica su
                    inscripción al Registro Público de Consumidores previsto por la Ley Federal de Protección al
                    Consumidor, a efecto de limitar el uso de los datos personales en posesión de los particulares.
                  </p>
                </div>
              </div>


              <div class="faq-box media mb-4">
                <div class="faq-icon mr-3">
                  <i class="bx bx-help-circle font-size-20 text-success"></i>
                </div>
                <div class="media-body">
                  <h5 class="font-size-15">
                    X. DE LOS MECANISMOS DE COMUNICACIÓN.
                  </h5>
                  <p class="text-muted">
                    Cualquier comunicación que el Titular dirija al Responsable relacionada al presente Aviso de
                    Privacidad, deberá realizarse a las direcciones proporcionadas para el ejercicio de los Derechos
                    ARCO, mencionando de manera clara y precisa: (i) el nombre, apellido paterno y materno del Titular;
                    (ii) su domicilio y/o correo electrónico y/o cualquier otro medio para comunicarle la respuesta a su
                    solicitud; (iii) los documentos oficiales que acrediten la identidad o, en su caso, la
                    representación legal del Titular; y (iv) la descripción clara y precisa del objeto de su
                    comunicación.
                    <br /><br />
                    De la misma manera, el Responsable atenderá y responderá cualquier comunicación que le sea dirigida
                    dentro de los 7 días hábiles al haber recibido dicho escrito, ya sea en la en la misma forma en el
                    que le hicieron llegar la comunicación o en la forma en que hubiesen indicado.


                  </p>
                </div>
              </div>

              <div class="faq-box media mb-4">
                <div class="faq-icon mr-3">
                  <i class="bx bx-help-circle font-size-20 text-success"></i>
                </div>
                <div class="media-body">
                  <h5 class="font-size-15">
                    XI. DE LOS MEDIOS REMOTOS.
                  </h5>
                  <p class="text-muted">
                    En caso de que el Titular proporcione sus Datos a través de medios electrónicos, incluyendo el sitio
                    web (Internet) del Responsable, entonces el Titular entiende, acepta y reconoce que:
                    <br /><br />
                    a) El sitio web del Responsable puede incluir enlaces a sitios web de terceros, que de accederse,
                    ocasionará que se abandone el sitio web del Responsable, por lo cual el Responsable no asume ninguna
                    responsabilidad en relación con esos sitios web de terceros. b) El sitio web del Responsable puede
                    incluir enlaces a sitios que administran redes sociales, en cuyo caso el Titular acepta que al
                    proporcionar cualquier tipo de información o Datos en dichos sitios, ocasionará que la misma pueda
                    ser leída, vista, accedida, retransmitida y tratada por cualquier persona, y por lo tanto libera de
                    cualquier responsabilidad al Responsable. c) Es posible que los sistemas del Responsable recopilen
                    Datos del Titular tales como tipo de navegador, sistema operativo, páginas de Internet visitadas,
                    dirección IP, etc., a través "cookies" o "web beacons", entre otros.
                    <br /><br />
                    Para que el Titular pueda deshabilitar estos programas, deberá de acceder a las "opciones de
                    internet" ubicadas en la sección de las "herramientas", o funciones similares, del navegador que
                    utilice.
                  </p>
                </div>
              </div>

              <div class="faq-box media mb-4">
                <div class="faq-icon mr-3">
                  <i class="bx bx-help-circle font-size-20 text-success"></i>
                </div>
                <div class="media-body">
                  <h5 class="font-size-15">
                    XII. DE LAS MODIFICACIONES AL AVISO DE PRIVACIDAD.
                  </h5>
                  <p class="text-muted">
                    El Responsable podrá modificar el presente Aviso de Privacidad tantas veces como considere
                    necesario, tanto para guardar congruencia con los ordenamientos legales aplicables, a petición de
                    las autoridades competentes y/o a nuestra propia conveniencia. En tanto el Responsable no modifique
                    su identidad, se requieran del Titular más datos de los aquí mencionados, se modifique el fin del
                    presente Aviso de Privacidad y/o cambien las condiciones de transferencia, el Titular está de
                    acuerdo y conforme en que la forma de notificar cualquier cambio a este Aviso de Privacidad, será a
                    través de la publicación en la página de Internet {{ms.domain}}. Es obligación del
                    Titular visitar periódicamente dicho sitio a fin de verificar la versión más actual del Aviso de
                    Privacidad. Para los casos en que el consentimiento del Titular sea necesario por los cambios
                    realizados al presente Aviso de Privacidad, el Responsable le hará llegar el aviso correspondiente a
                    cualquiera de los medios de contacto que el Titular nos haya brindado; se entenderá que el Titular
                    acepta dicho Aviso hasta que no recibamos cualquier comunicación en sentido contrario.
                  </p>
                </div>
              </div>


              <div class="faq-box media mb-4">
                <div class="faq-icon mr-3">
                  <i class="bx bx-help-circle font-size-20 text-success"></i>
                </div>
                <div class="media-body">
                  <h5 class="font-size-15">
                    XIII. DE LA ACEPTACIÓN DE LOS TÉRMINOS.
                  </h5>
                  <p class="text-muted">
                    Esta declaración de Privacidad está sujeta a los términos y condiciones de todos los sitios web y/o
                    fanpage o redes sociales de Maribel Ramirez Alvarado y/o TotalEmpleos antes descritos, lo cual
                    constituye un acuerdo legal entre el usuario y Maribel Ramírez Alvarado y/o TotalEmpleos.
                    <br /><br />
                    Si el usuario utiliza los servicios en cualquiera de los sitios o redes sociales de Maribel Ramírez
                    Alvarado y/o TotalEmpleos, significa que ha leído, entendido y aceptado los términos antes
                    expuestos. Al momento de registrarse y previo al tratamiento de los datos, se pone a su disposición
                    este Aviso de Privacidad integral, mismo que usted acepta al dar click en el botón “Crear Cuenta” o
                    a través del mecanismo que se ponga a su disposición. La oposición a la aceptación del presente
                    Aviso de Privacidad traerá como consecuencia la imposibilidad para prestar el servicio dentro de la
                    plataforma para oferentes y demandantes de empleo. En caso de no aceptar el presente Aviso de
                    Privacidad, no debe proporcionarnos datos personales, ni suscribirse a los sitios o redes sociales
                    de Maribel Ramirez Alvarado y/o TotalEmpleos.
                  </p>
                </div>
              </div>


              <div class="faq-box media mb-4">
                <div class="faq-icon mr-3">
                  <i class="bx bx-help-circle font-size-20 text-success"></i>
                </div>
                <div class="media-body">
                  <h5 class="font-size-15">
                    XIV. DE LA PROTECCIÓN.
                  </h5>
                  <p class="text-muted">
                    La seguridad y la confidencialidad de los datos que los usuarios proporcionen al contratar un
                    servicio o comprar un producto en línea estarán protegidos por un servidor seguro, de tal forma que
                    los datos enviados se transmitirán encriptados para asegurar su resguardo.
                    <br /><br />
                    Para verificar que se encuentra en un entorno protegido asegúrese de que aparezca una S en la barra
                    de navegación. Ejemplo: httpS://. Sin embargo, y a pesar de contar cada día con herramientas más
                    seguras, la protección de los datos enviados a través de Internet no se puede garantizar al 100%;
                    por lo que una vez recibidos, se hará todo lo posible por salvaguardar la información.
                  </p>
                </div>
              </div>

              <div class="faq-box media mb-4">
                <div class="faq-icon mr-3">
                  <i class="bx bx-help-circle font-size-20 text-success"></i>
                </div>
                <div class="media-body">
                  <h5 class="font-size-15">
                    XV. AUTORIDAD.
                  </h5>
                  <p class="text-muted">
                    Si considera que han sido vulnerados sus derechos respecto de la protección de datos personales,
                    tiene el derecho de acudir ante el Instituto Nacional de Transparencia, Acceso a la Información y
                    Protección de Datos Personales (INAI) en www.ifai.mx

                    La presente versión de este Aviso de Privacidad fue actualizada por última vez el 24 de Noviembre de
                    2020.
                  </p>
                </div>
              </div>



            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
