<div class="container-fluid">


    <div class="checkout-tabs">
      <div class="row">
        <div class="col-lg-12">
  
  
          <div class="card">
            <div class="card-body">
              <div class="tab-pane">
                <h4 class="card-title mb-5">{{ms.terms.WELCOME}}</h4>
  
                <div class="faq-box media mb-4">
                  <div class="faq-icon mr-3">
                    <i class="bx bx-help-circle font-size-20 text-success"></i>
                  </div>
                  <div class="media-body">
                    <h5 class="font-size-15">
                      I. DE LA IDENTIDAD Y DOMICILIO DEL RESPONSABLE.
                    </h5>
                    <p class="text-muted">
                      TotalEmpleo es gratuito para aquellas personas que buscan vacantes de empleo ("Solicitantes de empleo").
                      TotalEmpleos puede poner a disposición anuncios de empleo que publiciten oportunidades de empleo y otro contenido relacionado con el empleo, incluidos enlaces a sitios web de terceros ("Ofertas de empleo" o "Anuncios de empleo ”), A través de los resultados de búsqueda de TotalEmpleo o de otro modo a través del Sitio. 
                      <br><br>
                      La búsqueda de anuncios de empleo en  TotalEmpleo es gratuita para quienes buscan empleo. Los anuncios de empleo son creados y proporcionados por terceros sobre los que TotalEmpleos no ejerce ningún control; usted reconoce y comprende que TotalEmpleos no tiene control sobre el contenido de los anuncios de empleo, los enlaces hacia o desde los anuncios de empleo, o cualquier condición que terceros puedan imponer una vez que un solicitante de empleo haya enviado una solicitud o abandonado el Sitio. Por ejemplo, algunos de estos terceros pueden intentar cobrar a los solicitantes de empleo una tarifa para postularse a un trabajo en particular, aunque TotalEmpleo se esfuerza por no hacer que dichos anuncios de empleo estén disponibles en el Sitio. Si abandona el Sitio y elige ingresar al sitio web de un tercero, acepta los términos y condiciones impuestos por ese tercero. 
                      <br><br>
                      Los sitios web de empleadores pueden tener rastreadores de conversiones u otra funcionalidad proporcionada por TotalEmpleo, que nos informa que se ha completado una solicitud en un sitio de empleadores. Un Empleador que instale dicha funcionalidad está obligado en virtud de este Acuerdo a proporcionar cualquier aviso y obtener cualquier consentimiento previo que pueda ser requerido por la ley aplicable. Sin embargo, reconoce y acepta que TotalEmpleos no tiene control sobre dicho Empleador ni sobre su sitio web. Acepta que TotalEmpleos utilice y reciba información de dicha función de seguimiento de conversiones. A excepción de las ubicaciones patrocinadas, destacadas o pagadas, los Anuncios de empleo contenidos en el Sitio o vinculados desde él se indexan o publican de manera automática. TotalEmpleos no tiene la obligación de filtrar ningún anuncio de empleo, ni de incluir ningún anuncio de empleo en sus resultados de búsqueda u otros listados, y puede excluir o eliminar cualquier anuncio de empleo del Sitio por cualquier motivo o sin él. No podemos confirmar la exactitud o integridad de ningún anuncio de trabajo u otra información enviada por cualquier empleador u otro usuario, incluida la identidad de dicho empleador u otro usuario. TotalEmpleo no asume ninguna responsabilidad y renuncia a toda responsabilidad por el contenido, la precisión, la integridad, la legalidad, la confiabilidad o la disponibilidad de cualquier anuncio de empleo, páginas de la empresa, preguntas y respuestas de selección y evaluaciones. 
                      <br><br>
                      TotalEmpleo puede proporcionar opciones de búsqueda para limitar los resultados de búsqueda de anuncios de empleo por categorías de tipo de trabajo (es decir, a tiempo completo, a tiempo parcial, etc.), y dichas categorías son creadas de forma independiente y en su totalidad por TotalEmpleo, y es posible que no reflejen de manera directa o precisa el contenido de los anuncios de empleo. TotalEmpleo puede cambiar el formato de las listas de trabajos para que pueda leerlas con mayor claridad en un teléfono móvil. Si bien, en algunas circunstancias, TotalEmpleo puede ser compensado por empleadores que publican anuncios de empleo, lo que ayuda a mantener la búsqueda de empleo de TotalEmpleo gratuita para los solicitantes de empleo, todos los anuncios de empleo se consideran publicidad. 
                      <br><br>
                      TotalEmpleo muestra anuncios de empleo basados ​​en una combinación de ofertas del empleador y relevancia, como términos de búsqueda y otra información proporcionada y actividades realizadas en TotalEmpleo. No se le permite utilizar el Sitio de TotalEmpleo ni su contenido para fines que no sean comerciales. Para los fines de esta Sección A de los Términos de servicio generales de TotalEmpleo, todas las referencias a "usted" o "su" significarán usted, la persona u organización que accede a este Sitio en su calidad de Solicitante de empleo. TotalEmpleo puede proporcionar la funcionalidad para llamar a un número de teléfono incluido en un anuncio de empleo mediante la aplicación de teléfono en un dispositivo móvil. TotalEmpleo no puede garantizar que el número de teléfono extraído sea el número de teléfono correcto para el empleador o para el anuncio de empleo que está viendo.
                    </p>
                    <strong>
                      Última actualización de términos y condiciones 30 de Noviembre 2020.
                    </strong>
                  </div>
                </div>
  
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  