
<div class="container-fluid">

  <!-- start page title -->
  <app-page-title title="{{model.new}}" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <!-- end page title -->
  <employers-user *ngIf="userRegisterValidation"></employers-user>

  <!-- end row -->

</div> <!-- container-fluid -->
