<ngx-loading [show]="loading"></ngx-loading>
<div class="container-fluid">
  <!-- start page title -->
  <app-page-title
    title="{{ username }}"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>
  <!-- end page title -->

  <div class="row" *ngIf="!loading">
    <div  class="offset-md-2 col-md-8 offset-md-2">
      <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-4">{{title}}
              <i *ngIf="!edit" (click)="onEditBasicClick()" class="bx bx-intersect bx-sm text-right text-primary edit-profile "></i>
              <i *ngIf="edit" (click)="onCloseBasicClick()" class="bx bx-x  bx-sm text-right text-danger edit-profile "></i>
            </h4>
            <img class="img-thumbnail rounded-circle avatar-xl" alt="50x50" width="200" src="{{employer?.avatar}}"
            data-holder-rendered="true">

          <div *ngIf="!edit" class="table-responsive">
            <table class="table table-nowrap mb-0">
              <tbody>
                <tr>
                  <th scope="row">{{ ms.categories.formFields.title }} :</th>
                  <td>{{ employer?.company_name }}</td>
                </tr>
                <tr>
                  <th scope="row">{{ ms.fields.company_description }} :</th>
                  <td>{{ employer?.company_description }}</td>
                </tr>

                <tr>
                  <th scope="row">{{ ms.fields.location }} :</th>
                  <td [innerHTML]="employer?.location"></td>
                </tr>

                <tr>
                  <th scope="row">{{ ms.fields.contact }} :</th>
                  <td [innerHTML]="employer?.contact"></td>
                </tr>

                <tr>
                  <th scope="row">{{ ms.fields.facebook_url }} :</th>
                  <td>{{ employer?.facebook_url }}</td>
                </tr>

                <tr>
                  <th scope="row">{{ ms.fields.linkedin_url }} :</th>
                  <td>{{ employer?.linkedin_url }}</td>
                </tr>

                <tr>
                  <th scope="row">{{ms.fields.map}}</th>
                  <td>
                    <agm-map [latitude]="latitude(employer)" [longitude]="longitude(employer)">
                      <agm-marker [latitude]="latitude(employer)" [longitude]="longitude(employer)"></agm-marker>
                    </agm-map>
                  </td>
                </tr>
                
                <tr>
                  <th scope="row">{{ ms.categories.formFields.active }} :</th>
                  <td>
                    
                    <span class="badge badge-pill badge-soft-success font-size-12" 
                    [ngClass]=" { 'badge-soft-success': employer?.active,
                    'badge-soft-warning':!employer?.active }">
                    {{active}}
                  </span>
                    </td>
                </tr>

                <tr>
                  <th scope="row">{{ ms.cruds.created }} :</th>
                  <td>{{ created }}</td>
                </tr>

                <tr>
                  <th scope="row">{{ ms.cruds.updated }} :</th>
                  <td>{{ updated }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <employers-user-form [employer]="{}"  [data]="employerEdit" *ngIf="edit"> </employers-user-form>

        </div>
      </div>


      <div class="card">
        <div class="card-body">
            <div class="button-items">
              <a
              (click)="onBackClick()"
              href="javascript:void(0)"
              class="btn btn-light w-md"
            >
              {{ ms.cruds.back }}
            </a>

           
              </div>
        </div>
      </div>

    </div>
  </div>
  <!-- end row -->
</div>
<!-- container-fluid -->
