
<form class="needs-validation" name="userForm" [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
  <ngb-alert type="danger" *ngIf="errors" [innerHTML]="errors" [dismissible]="false">{{errors}}</ngb-alert>

  <div class="form-group row mb-4">

    <div class="col-lg-12">
      <input type="text" placeholder="{{ms.fields.company_name}}" 
      formControlName="company_name" class="form-control"
        id="company_name" [ngClass]="{ 'is-invalid': submitted && f.company_name.errors }" />
      <div *ngIf="submitted && f.company_name.errors" class="invalid-feedback">
        <div *ngIf="f.company_name.errors.required">{{ms.valid.required}}</div>
        <div *ngIf="f.company_name.errors.maxlength">{{ms.valid.maxChar(255)}}</div>
        <div *ngIf="f.company_name.errors.minlength">{{ms.valid.minChar(5)}}</div>
      </div>
    </div>
  </div>

  <div class="form-group row mb-4">
    <div class="col-lg-12">
      <textarea placeholder="{{ms.fields.company_description}}" formControlName="company_description"
        class="form-control" id="company_description"
        [ngClass]="{ 'is-invalid': submitted && f.company_description.errors }">
</textarea>
      <div *ngIf="submitted && f.company_description.errors" class="invalid-feedback">
        <div *ngIf="f.company_description.errors.required">{{ms.valid.required}}</div>
        <div *ngIf="f.company_description.errors.maxlength">{{ms.valid.maxChar(255)}}</div>
        <div *ngIf="f.company_description.errors.minlength">{{ms.valid.minChar(10)}}</div>
      </div>
    </div>
  </div>

  <div class="form-group row mb-4">
    <div class="col-lg-12">
      <div class="custom-file">
        <input placeholder="{{ms.fields.company_logo}}" #company_logo (change)="onFileChanged($event)" type="file"
          class="custom-file-input">
        <label class="custom-file-label" for="company_logo">{{ms.settings.CHOOSE}}</label>
      
      </div>
    </div>
  </div>


  <div class="form-group row mb-4">
    <div class="col-lg-3">
      <input mask="(000) 000-0000" type="text" placeholder="{{ms.fields.mobile_contact}}" mask="(000) 000-0000"
        formControlName="mobile_contact" class="form-control" id="mobile_contact"
        [ngClass]="{ 'is-invalid': submitted && f.mobile_contact.errors }" />
      <div *ngIf="submitted && f.mobile_contact.errors" class="invalid-feedback">
        <div *ngIf="f.mobile_contact.errors.required">{{ms.valid.required}}</div>
        <div *ngIf="f.mobile_contact.errors.maxlength">{{ms.valid.maxChar(50)}}</div>
        <div *ngIf="f.mobile_contact.errors.minlength">{{ms.valid.minChar(10)}}</div>
      </div>
    </div>

    <div class="col-lg-3">
      <input mask="(000) 000-0000" type="text" placeholder="{{ms.fields.phone}}" mask="(000) 000-0000"
        formControlName="phone" class="form-control" id="phone"
        [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
      <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
        <div *ngIf="f.phone.errors.maxlength">{{ms.valid.maxChar(20)}}</div>
        <div *ngIf="f.phone.errors.minlength">{{ms.valid.minChar(10)}}</div>
      </div>
    </div>

    <div class="col-lg-3">
      <input type="text" placeholder="{{ms.fields.longitude}}" formControlName="longitude" class="form-control"
        id="longitude" />
    </div>

    <div class="col-lg-3">
      <input type="text" placeholder="{{ms.fields.latitude}}" formControlName="latitude" class="form-control"
        id="latitude" />
    </div>
  </div>


  <div class="form-group row mb-4">
    <div class="col-lg-6">
        <select (change)="onStateChange($event)" class="form-control" formControlName="state_id"
          [ngClass]="{ 'is-invalid': submitted && f.state_id.errors }">
          <option [value]="state.id" *ngFor="let state of states">{{state.name}}</option>
        </select>
        <div *ngIf="submitted && f.state_id.errors" class="invalid-feedback">
          <div *ngIf="f.state_id.errors.required">{{ms.valid.required}}</div>
        </div>
      </div>

    <div class="col-lg-6">
        <select class="form-control" formControlName="city_id"
          [ngClass]="{ 'is-invalid': submitted && f.city_id.errors }">
          <option [value]="city.id" *ngFor="let city of cities">{{city.name}}</option>
        </select>
        <div *ngIf="submitted && f.city_id.errors" class="invalid-feedback">
          <div *ngIf="f.city_id.errors.required">{{ms.valid.required}}</div>
        </div>
      </div>

  </div>

  <div class="form-group row mb-4">
    <div class="col-lg-3">
      <input type="text" placeholder="{{ms.fields.zipcode}}" 
      mask="00000"
      formControlName="zipcode" class="form-control" id="zipcode"
        [ngClass]="{ 'is-invalid': submitted && f.zipcode.errors }" />
      <div *ngIf="submitted && f.zipcode.errors" class="invalid-feedback">
        <div *ngIf="f.zipcode.errors.maxlength">{{ms.valid.maxChar(10)}}</div>
        <div *ngIf="f.zipcode.errors.required">{{ms.valid.required}}</div>
      </div>
    </div>


    <div class="col-lg-3">
        <input type="text" placeholder="{{ms.fields.ext}}" formControlName="ext" class="form-control" id="ext"
          [ngClass]="{ 'is-invalid': submitted && f.ext.errors }" />
        <div *ngIf="submitted && f.ext.errors" class="invalid-feedback">
            <div *ngIf="f.ext.errors.maxlength">{{ms.valid.maxChar(10)}}</div>
          <div *ngIf="f.ext.errors.required">{{ms.valid.required}}</div>
        </div>
      </div>

      <div class="col-lg-3">
        <input type="text" placeholder="{{ms.fields.facebook_url}}" formControlName="facebook_url" class="form-control" id="facebook_url"
          [ngClass]="{ 'is-invalid': submitted && f.facebook_url.errors }" />
        <div *ngIf="submitted && f.facebook_url.errors" class="invalid-feedback">
          <div *ngIf="f.facebook_url.errors.pattern">{{ms.valid.url}}</div>
        </div>
      </div>

      <div class="col-lg-3">
        <input type="text" placeholder="{{ms.fields.linkedin_url}}" formControlName="linkedin_url" class="form-control" id="linkedin_url"
          [ngClass]="{ 'is-invalid': submitted && f.linkedin_url.errors }" />
        <div *ngIf="submitted && f.linkedin_url.errors" class="invalid-feedback">
            <div *ngIf="f.linkedin_url.errors.pattern">{{ms.valid.url}}</div>
        </div>
      </div>
  </div>


<ul class="list-inline wizard mb-0">
    <li *ngIf="!isEdit" class="previous list-inline-item">
      <a class="btn btn-light" (click)="onBackClick()">{{ms.cruds.previous}}</a>
    </li>

    <li class="next list-inline-item float-right">
      <button [disabled]="userForm.pristine" type="submit" class="btn btn-primary w-md">
        {{ms.cruds.save}}
      </button>
    </li>
  </ul>

</form>
