<ngx-loading [show]="loading"></ngx-loading>
<div class="row">
<div class="col-4">
  <div class="card">
    <div class="card-body">

      <div class="text-primary p-4">
        <h5 class="text-primary">
          {{ms.register.EMPLOYER}} 
        </h5>
        <p>{{ms.register.EMPLOYER_DATA}} <i class="bx bx-sm bx-key "></i></p>
      </div>
      

      <form *ngIf="user" class="form-horizontal" name="signupForm" [formGroup]="signupForm" (ngSubmit)="onSubmit()"
        novalidate>

        <div class="row">
          <div class="col-12">
            <ngb-alert type="danger" [innerHTML]="error" *ngIf="error" [dismissible]="true">{{ error }}</ngb-alert>
          </div>
          <div class="col-12">


            <div class="form-group row mb-4">
              <div class="col-lg-12">
                <input placeholder="{{ms.fields.email}}" type="text" formControlName="email" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">{{ms.valid.required}}</div>
                  <div *ngIf="f.email.errors.email">{{ms.valid.email}}</div>
                </div>
              </div>
              <div class="col-lg-12">
                <hr />
              </div>
            </div>

            <div class="form-group row mb-4">
              <div class="col-lg-12">
                <div class="input-group">
                  <input [type]="fieldTextType ? 'text' : 'password'" placeholder="{{ms.fields.password}}"
                    formControlName="password" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <div (click)="onClickFieldTextType()" class="input-group-append">
                    <span class="input-group-text bg-white ">
                      <i class="text-primary fa" [ngClass]="{
'fa-eye-slash': !fieldTextType,
'fa-eye': fieldTextType
}"></i>
                    </span>
                  </div>
                </div>
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">{{ms.valid.required}}</div>
                  <div *ngIf="f.password.errors.minlength">Debe contener al menos 8 caracteres</div>
                </div>
              </div>
              <div class="col-lg-12">
                <hr />
              </div>
            </div>

            <div class="form-group row mb-4">
              <div class="col-lg-12">
                <div class="input-group">
                  <input [type]="fieldTextType ? 'text' : 'password'" placeholder="{{ms.fields.password_confirm}}"
                    formControlName="rePassword" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.rePassword.errors }" />
                  <div (click)="onClickFieldTextType()" class="input-group-append">
                    <span class="input-group-text bg-white ">
                      <i class="text-primary fa" [ngClass]="{
'fa-eye-slash': !fieldTextType,
'fa-eye': fieldTextType
}"></i>
                    </span>
                  </div>
                </div>
                <div *ngIf="submitted && signupForm.errors?.passwordMatch"
                  class="cross-validation-error-message alert alert-danger">
                  <div>{{ms.valid.match}}</div>
                </div>
              </div>
              <div class="col-lg-12">
                <hr />
              </div>
            </div>

            <div class="form-group row mb-4">
              <div class="col-lg-12">
                <input placeholder="{{ms.fields.FIRST_NAME}}" type="text" formControlName="first_name"
                  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }" />
                <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
                  <div *ngIf="f.first_name.errors.required">{{ms.valid.required}}</div>
                  <div *ngIf="f.first_name.errors.minlength">{{ms.valid.minChar(minChar)}}</div>
                  <div *ngIf="f.first_name.errors.maxlength">{{ms.valid.maxChar(maxChar)}}</div>
                </div>
              </div>
              <div class="col-lg-12">
                <hr />
              </div>
            </div>

            <div class="form-group row mb-4">
              <div class="col-lg-12">
                <input placeholder="{{ms.fields.MIDDLE_NAME}}" type="text" formControlName="middle_name"
                  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.middle_name.errors }" />
                <div *ngIf="submitted && f.middle_name.errors" class="invalid-feedback">
                  <div *ngIf="f.middle_name.errors.required">{{ms.valid.required}}</div>
                  <div *ngIf="f.middle_name.errors.minlength">{{ms.valid.minChar(minChar)}}</div>
                  <div *ngIf="f.middle_name.errors.maxlength">{{ms.valid.maxChar(maxChar)}}</div>
                </div>
              </div>
              <div class="col-lg-12">
                <hr />
              </div>
            </div>

            <div class="form-group row mb-4">
              <div class="col-lg-12">
                <input placeholder="{{ms.fields.LAST_NAME}}" type="text" formControlName="last_name"
                  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.last_name.errors }" />
                <div *ngIf="submitted && f.last_name.errors" class="invalid-feedback">
                  <div *ngIf="f.last_name.errors.required">{{ms.valid.required}}</div>
                  <div *ngIf="f.last_name.errors.minlength">{{ms.valid.minChar(minChar)}}</div>
                  <div *ngIf="f.last_name.errors.maxlength">{{ms.valid.maxChar(maxChar)}}</div>
                </div>
              </div>
              <div class="col-lg-12">
                <hr />
              </div>
            </div>

          </div>
          <div class="mt-4">
            <ul class="list-inline wizard mb-0">
              <li class="previous list-inline-item">
                <a class="btn btn-light" (click)="onBackClick()">{{ms.cruds.back}}</a>
              </li>
          
              <li class="next list-inline-item float-right">
                <button class="btn btn-primary btn-block" type="submit">{{ms.register.NEXT}}</button>
              </li>
            </ul>
           
          </div>
        </div>
      </form>

      <div *ngIf="!user" class="media-body">
        <div class="text-wrap">
          <h5>{{employer.email}}</h5>
          <p class="mb-1">{{employer.first_name}} {{employer.middle_name}} {{employer.last_name}}  </p>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="col-8">
  <div class="card">
    <div class="card-body">
      <employers-user-form [employer]="employer" [data]="{}" *ngIf="!user"> </employers-user-form>
    </div>
  </div>
</div>
</div>




