<ul class="navbar-nav" *ngFor="let menu of menuList">
    <!-- Menu data -->
    <li *ngFor="let item of menu.items" class="nav-item dropdown"   >

      <a *ngIf="show(menu.permissions)"   class="nav-link dropdown-toggle arrow-none" href="javascript: void(0);" role="button"
        (click)="onMenuClick($event,item.title,item.route)">
        <i class="{{item.icon}} mr-1"></i>{{item.title}} 
        <div *ngIf="item.active" class="arrow-down"></div>
      </a>

      <div *ngIf="item.active"  class="dropdown-menu dropdown-menu-right" aria-labelledby="topnav-layout">
            <a *ngFor="let child of item.childs" href="javascript: void(0);" class="dropdown-item"
            (click)="goUrl(child.route)">{{child.title}}
            </a>
      </div>

    </li>
  </ul>