<h4 class="card-title mb-4">
  <i *ngIf="academic" (click)="onEditBasicClick()"
    class="bx bx-intersect bx-sm text-right text-primary edit-profile "></i>
  <i *ngIf="!academic" (click)="onCloseBasicClick()" class="bx bx-x  bx-sm text-right text-danger edit-profile "></i>
  {{seeker?.academic.title}}
</h4>

<div class="media" *ngIf="academic">
  <div class="mr-4">
    <i class="mdi mdi-school text-primary h1"></i>
  </div>

  <div class="media-body">
    <div class="table-responsive">
      <table class="table table-nowrap mb-0">
        <tbody>
          <tr>
            <th scope="row">{{seeker?.academic.scholarship_id}} :</th>
            <td>{{data?.scholarship}}</td>
          </tr>

          <tr>
            <th scope="row">{{seeker?.academic.school_name}} :</th>
            <td class="text-wrap">{{data?.school_name}}</td>
          </tr>

          <tr>
            <th scope="row">{{seeker?.academic.expected_salary}} :</th>
            <td>{{data?.expected_salary | currency:'MXN'}}</td>
          </tr>

          <tr>
            <th scope="row">{{seeker?.academic.linked_in}} :</th>
            <td class="text-wrap">{{data?.linked_in}}</td>
          </tr>
          <tr>
            <th scope="row">{{seeker?.academic.facebook}} :</th>
            <td class="text-wrap">{{data?.facebook}}</td>
          </tr>

          <tr>
            <th scope="row">{{seeker?.academic.cv}} :</th>
            <td>
              <a *ngIf="data?.cv" target="_blank" href="{{data?.cv}}" class="btn btn-sm btn-outline-dark" >
                <i class="mdi mdi-attachment"></i></a>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>


<ngx-loading [show]="loading"></ngx-loading>
<form *ngIf="!academic" class="form-horizontal" name="academicForm" [formGroup]="academicForm" (ngSubmit)="onSubmit()"
  novalidate>

  <div class="row">
    <div class="col-12">
      <ngb-alert type="danger" [innerHTML]="error" *ngIf="error" [dismissible]="true">{{ error }}</ngb-alert>
    </div>
    <div class="col-12">



      <div class="form-group row mb-4">

        <div class="col-lg-6">
          <input placeholder="{{seeker?.academic.school_name}}" type="text" formControlName="school_name"
            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.school_name.errors }" />
          <div *ngIf="submitted && f.school_name.errors" class="invalid-feedback">
            <div *ngIf="f.school_name.errors.required">{{ms.valid.required}}</div>
            <div *ngIf="f.school_name.errors.minlength">{{ms.valid.minChar(5)}}</div>
            <div *ngIf="f.school_name.errors.maxlength">{{ms.valid.maxChar(150)}}</div>
          </div>
        </div>

        <div class="col-lg-6">
          <select class="form-control" formControlName="scholarship_id"
            [ngClass]="{ 'is-invalid': submitted && f.scholarship_id.errors }">
            <option [value]="scholarship.id" *ngFor="let scholarship of scholarships">{{scholarship.title}}</option>
          </select>
          <div *ngIf="submitted && f.scholarship_id.errors" class="invalid-feedback">
            <div *ngIf="f.scholarship_id.errors.required">{{ms.valid.required}}</div>
          </div>
        </div>
        <div class="col-lg-12">
          <hr />
        </div>

        <div class="col-lg-12">
          <input  mask="separator.2" thousandSeparator=","  placeholder="{{seeker?.academic.expected_salary}}" 
          type="text"  formControlName="expected_salary"
            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.expected_salary.errors }" />
          <div *ngIf="submitted && f.expected_salary.errors" class="invalid-feedback">
            <div *ngIf="f.expected_salary.errors.maxlength">{{ms.valid.maxChar(255)}}</div>
          </div>
        </div>
        <div class="col-lg-12">
          <hr />
        </div>
        
        <div class="col-lg-6">
          <input   placeholder="{{seeker?.academic.linked_in}}" 
          type="text"  formControlName="linked_in"
            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.linked_in.errors }" />
          <div *ngIf="submitted && f.linked_in.errors" class="invalid-feedback">
            <div *ngIf="f.linked_in.errors.maxlength">{{ms.valid.maxChar(150)}}</div>
          </div>
        </div>

        <div class="col-lg-6">
          <input  placeholder="{{seeker?.academic.facebook}}" 
          type="text"  formControlName="facebook"
            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.facebook.errors }" />
          <div *ngIf="submitted && f.facebook.errors" class="invalid-feedback">
            <div *ngIf="f.facebook.errors.maxlength">{{ms.valid.maxChar(150)}}</div>
          </div>
        </div>
        <div class="col-lg-12">
          <hr />
        </div>
        <div class="col-lg-12">
          <div class="custom-file">
            <input #cv  (change)="onFileChanged($event)"  type="file" 
            class="custom-file-input">
            <label class="custom-file-label" for="cv">{{fileName? fileName :ms.settings.FILE}}</label>
          </div>
        </div>


      </div>
    </div>
  </div>

  <ul class="list-inline wizard mb-0">
    <li class="previous list-inline-item">
      <a class="btn btn-light" (click)="onCloseBasicClick()">{{ms.cruds.cancel}}</a>
    </li>

    <li class="next list-inline-item float-right">
      <button [disabled]="academicForm.pristine" type="submit" class="btn btn-primary w-md">
        {{ms.cruds.save}}
      </button>
    </li>
  </ul>
</form>
