<h4 class="card-title mb-4">{{seeker?.basic.title}}
  <i *ngIf="basic" (click)="onEditBasicClick()" class="bx bx-intersect bx-sm text-right text-primary edit-profile "></i>
  <i *ngIf="!basic" (click)="onCloseBasicClick()" class="bx bx-x  bx-sm text-right text-danger edit-profile "></i>
</h4>

<div class="media" *ngIf="basic">
  <div class="mr-4">
    <i class="mdi mdi-account-circle text-primary h1"></i>
  </div>

  <div class="media-body">
    <div class="text-center">
      <h5>{{data?.title}}</h5>
      <p class="mb-1">{{getYears(data)}}</p>
      <p class="mb-0">{{seeker?.basic.sex}}: {{data?.sex}} </p>
      <p class="mb-0">{{seeker?.basic.nationality}}: {{data?.nationality}} </p>
    </div>
  </div>
</div>


<ngx-loading [show]="loading"></ngx-loading>
<form *ngIf="!basic" class="form-horizontal" name="basicForm" [formGroup]="basicForm" (ngSubmit)="onSubmit()"
  novalidate>

  <div class="row">
    <div class="col-12">
      <ngb-alert type="danger" [innerHTML]="error" *ngIf="error" [dismissible]="true">{{ error }}</ngb-alert>
    </div>
    <div class="col-12">


      <div class="form-group row mb-4">
        <label for="title" class="col-form-label col-lg-4">{{seeker?.basic._title}}</label>
        <div class="col-lg-8">
          <input placeholder="{{seeker?.basic._title_desc}}" type="text" formControlName="title" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
          <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
            <div *ngIf="f.title.errors.required">{{ms.valid.required}}</div>
            <div *ngIf="f.title.errors.minlength">{{ms.valid.minChar(5)}}</div>
            <div *ngIf="f.title.errors.maxlength">{{ms.valid.maxChar(100)}}</div>
          </div>
        </div>
      </div>


      <div class="form-group row mb-4">
        <label for="nationality" class="col-form-label col-lg-4">{{seeker?.basic.nationality}}</label>
        <div class="col-lg-8">
          <select class="form-control" formControlName="nationality"
            [ngClass]="{ 'is-invalid': submitted && f.nationality.errors }">
            <option [value]="nationality" *ngFor="let nationality of nationalitiesData">{{nationality}}</option>
          </select>
          <div *ngIf="submitted && f.nationality.errors" class="invalid-feedback">
            <div *ngIf="f.nationality.errors.required">{{ms.valid.required}}</div>
          </div>
        </div>
      </div>

      <div class="form-group row mb-4">
        <label for="sex" class="col-form-label col-lg-4">{{seeker?.basic.sex}}</label>
        <div class="col-lg-8">
          <select class="form-control" formControlName="sex" [ngClass]="{ 'is-invalid': submitted && f.sex.errors }">
            <option [value]="sex" *ngFor="let sex of sexs">{{sex}}</option>
          </select>
          <div *ngIf="submitted && f.sex.errors" class="invalid-feedback">
            <div *ngIf="f.sex.errors.required">{{ms.valid.required}}</div>
          </div>
        </div>
      </div>

      <div class="form-group row mb-4">
        <label for="birthday" class="col-form-label col-lg-4">{{seeker?.basic.birthday}}</label>
        <div class="col-lg-8">
          <input [ngClass]="{ 'is-invalid': submitted && f.birthday.errors }" formControlName="birthday"
            class="form-control" mask="0000-M0-d0" placeholder="yyyy-mm-dd" type="text">
          <div *ngIf="submitted && f.birthday.errors" class="invalid-feedback">
            <div *ngIf="f.birthday.errors.required">{{ms.valid.required}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <ul class="list-inline wizard mb-0">
    <li class="previous list-inline-item">
      <a class="btn btn-light" (click)="onCloseBasicClick()">{{ms.cruds.cancel}}</a>
    </li>

    <li class="next list-inline-item float-right">
      <button [disabled]="basicForm.pristine" type="submit" class="btn btn-primary w-md">
        {{ms.cruds.save}}
      </button>
    </li>
  </ul>
</form>
