<h4 class="card-title mb-4">
  <i *ngIf="category" (click)="onEditBasicClick()"
    class="bx bx-plus-circle  bx-sm text-right text-danger edit-profile "></i>
  <i *ngIf="!category" (click)="onCloseBasicClick()" class="bx bx-x  bx-sm text-right text-danger edit-profile "></i>

  {{seeker?.categories.title}}
</h4>

<div class="media" *ngIf="category">
  <div class="mr-4">
    <i class="bx bxs-purchase-tag  text-primary h1"></i>
  </div>

  <div class="media-body">
    <a (click)="onDeleteCategoryClick(cat.id)" href="javascript:void(0)"
    class="badge badge-primary font-size-11 m-1" *ngFor="let cat of data">
    <i class="bg-danger bx bx-trash-alt "></i>
    {{cat?.category}}</a>
  </div>
</div>

<ngx-loading [show]="loading"></ngx-loading>
<form *ngIf="!category" class="form-horizontal" name="categoryForm" [formGroup]="categoryForm" (ngSubmit)="onSubmit()"
  novalidate>
  <div class="row">
    <div class="col-12">
      <ngb-alert type="danger" [innerHTML]="error" *ngIf="error" [dismissible]="true">{{ error }}</ngb-alert>
    </div>

    <div class="col-12">


     <div class="form-group row mb-4">
        <label for="category_id" class="col-form-label col-lg-4">{{seeker?.categories.category_id}}</label>
        <div class="col-lg-8">
         <ng-select 
         [items]="categories" 
         bindLabel="title" 
         bindValue="id" 
         notFoundText="{{ms?.actions.NOT_FOUND}}"
         placeholder="{{ms?.actions.SELECT}}"
         formControlName="category_id"
         [ngClass]="{ 'is-invalid': submitted && f.category_id.errors }"
         [multiple]="true"></ng-select>
          <div *ngIf="submitted && f.category_id.errors" class="invalid-feedback">
            <div *ngIf="f.category_id.errors.required">{{ms.valid.required}}</div>
          </div>
        </div>

        <div class="col-lg-12"><hr /></div>

      </div>


    </div>

    </div>

    <ul class="list-inline wizard mb-0">
        <li class="previous list-inline-item">
          <a class="btn btn-light" (click)="onCloseBasicClick()">{{ms.cruds.cancel}}</a>
        </li>
    
        <li class="next list-inline-item float-right">
          <button [disabled]="categoryForm.pristine" type="submit" class="btn btn-primary w-md">
            {{ms.cruds.save}}
          </button>
        </li>
      </ul>
</form>
