<h4 class="card-title mb-4">
    <i *ngIf="language" (click)="onEditBasicClick()"
      class="bx bx-plus-circle bx-sm text-right text-danger edit-profile "></i>
    <i *ngIf="!language" (click)="onCloseBasicClick()" class="bx bx-x  bx-sm text-right text-danger edit-profile "></i>
  
    {{seeker?.languages.title}}
  </h4>
  
  <div class="media" *ngIf="language">
    <div class="mr-4">
      <i class="mdi mdi-translate text-primary h1"></i>
    </div>
  
    <div class="media-body">
      <a  href="javascript:void(0)"
      class="badge badge-warning font-size-13 m-1" *ngFor="let lang of data">
      
      {{lang?.resume_language}} {{lang?.language_proficiency }}</a>
    </div>
  </div>
  
  <ngx-loading [show]="loading"></ngx-loading>
<form *ngIf="!language" class="form-horizontal" name="languageForm" [formGroup]="languageForm" (ngSubmit)="onSubmit()"
  novalidate>
  <div class="row">
    <div class="col-12">
      <ngb-alert type="danger" [innerHTML]="error" *ngIf="error" [dismissible]="true">{{ error }}</ngb-alert>
    </div>

    <div class="col-12">


     <div class="form-group row mb-4">
        <div class="col-lg-4">
         <ng-select 
         [items]="resumeLanguages" 
         bindLabel="title" 
         bindValue="id" 
         notFoundText="{{ms?.actions.NOT_FOUND}}"
         placeholder="{{seeker?.languages.resume_language_id}}"
         formControlName="resume_language_id"
         [ngClass]="{ 'is-invalid': submitted && f.resume_language_id.errors }"
         ></ng-select>
          <div *ngIf="submitted && f.resume_language_id.errors" class="invalid-feedback">
            <div *ngIf="f.resume_language_id.errors.required">{{ms.valid.required}}</div>
          </div>
        </div>
        <div class="col-lg-6">
         <ng-select 
         [items]="languageProficiencies" 
         bindLabel="title" 
         bindValue="id" 
         notFoundText="{{ms?.actions.NOT_FOUND}}"
         placeholder="{{seeker?.languages.language_proficiency_id}}"
         formControlName="language_proficiency_id"
         [ngClass]="{ 'is-invalid': submitted && f.language_proficiency_id.errors }"
         ></ng-select>
          <div *ngIf="submitted && f.language_proficiency_id.errors" class="invalid-feedback">
            <div *ngIf="f.language_proficiency_id.errors.required">{{ms.valid.required}}</div>
          </div>
        </div>

      </div>


    </div>

    <div class="media" *ngIf="!language">
        <div class="mr-4">
          <i class="mdi mdi-translate text-primary h1"></i>
        </div>
      
        <div class="media-body">
          <a (click)="onDeleteLanguageClick(lang.id)" href="javascript:void(0)"
          class="badge badge-info font-size-13 m-1" *ngFor="let lang of data">
          <i class="bg-danger bx bx-trash-alt "></i>
          {{lang?.resume_language}} {{lang?.language_proficiency }}</a>
        </div>
      </div>

    </div>

    <ul class="list-inline wizard mb-0">
        <li class="previous list-inline-item">
          <a class="btn btn-light" (click)="onCloseBasicClick()">{{ms.cruds.cancel}}</a>
        </li>
    
        <li class="next list-inline-item float-right">
          <button [disabled]="languageForm.pristine" type="submit" class="btn btn-primary w-md">
            {{ms.cruds.save}}
          </button>
        </li>
      </ul>
</form>
