<h4 class="card-title mb-4">
  <i *ngIf="location" (click)="onEditBasicClick()"
    class="bx bx-intersect bx-sm text-right text-primary edit-profile "></i>
  <i *ngIf="!location" (click)="onCloseBasicClick()" class="bx bx-x  bx-sm text-right text-danger edit-profile "></i>
  {{seeker?.location.title}}
</h4>

<div class="media" *ngIf="location">
  <div class="mr-4">
    <i class="mdi mdi-map-marker text-primary h1"></i>
  </div>

  <div class="media-body">
    <div class="table-responsive">
      <table class="table table-nowrap mb-0">
        <tbody>
          <tr>
            <th scope="row">{{seeker?.location.availability}} :</th>
            <td>
                <span class="badge badge-pill badge-soft-success font-size-12" 
                    [ngClass]=" { 'badge-soft-success': data?.availability,
                    'badge-soft-danger':!data?.availability }">
                    <i class="bx-sm bx" [ngClass]="{ ' bx-check-circle': data?.availability,
                    'bxs-minus-circle':!data?.availability }"></i>
                  </span>
                </td>
          </tr>
          <tr>
            <th scope="row">{{seeker?.location.location}} :</th>
            <td  class="text-wrap" [innerHTML]="full_location"></td>
          </tr>
          <tr>
            <th scope="row">{{seeker?.location.contact}} :</th>
            <td class="text-wrap" [innerHTML]="full_contact"></td>
          </tr>
          <tr>
            <th scope="row">{{seeker?.location.website}} :</th>
            <td>{{data?.website}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ngx-loading [show]="loading"></ngx-loading>
<form *ngIf="!location" class="form-horizontal" name="locationForm" [formGroup]="locationForm" (ngSubmit)="onSubmit()"
  novalidate>

  <div class="row">
    <div class="col-12">
      <ngb-alert type="danger" [innerHTML]="error" *ngIf="error" [dismissible]="true">{{ error }}</ngb-alert>
    </div>
    <div class="col-12">


      <div class="form-group row mb-4">
        <div class="col-lg-6">
            <select (change)="onStateChange($event)" class="form-control" formControlName="state_id"
              [ngClass]="{ 'is-invalid': submitted && f.state_id.errors }">
              <option [value]="state.id" *ngFor="let state of states">{{state.name}}</option>
            </select>
            <div *ngIf="submitted && f.state_id.errors" class="invalid-feedback">
              <div *ngIf="f.state_id.errors.required">{{ms.valid.required}}</div>
            </div>
          </div>

        <div class="col-lg-6">
            <select class="form-control" formControlName="city_id"
              [ngClass]="{ 'is-invalid': submitted && f.city_id.errors }">
              <option [value]="city.id" *ngFor="let city of cities">{{city.name}}</option>
            </select>
            <div *ngIf="submitted && f.city_id.errors" class="invalid-feedback">
              <div *ngIf="f.city_id.errors.required">{{ms.valid.required}}</div>
            </div>
          </div>

          
        <div class="col-lg-12"><hr /></div>

        <div class="col-lg-12">
            <input placeholder="{{seeker?.location.neighborhood}}" type="text" formControlName="neighborhood"
              class="form-control" [ngClass]="{ 'is-invalid': submitted && f.neighborhood.errors }" />
            <div *ngIf="submitted && f.neighborhood.errors" class="invalid-feedback">
              <div *ngIf="f.neighborhood.errors.required">{{ms.valid.required}}</div>
              <div *ngIf="f.neighborhood.errors.minlength">{{ms.valid.minChar(5)}}</div>
              <div *ngIf="f.neighborhood.errors.maxlength">{{ms.valid.maxChar(100)}}</div>
            </div>
          </div>
          <div class="col-lg-12"><hr /></div>
        <div class="col-lg-4">
          <input placeholder="{{seeker?.location.street}}" type="text" formControlName="street" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.street.errors }" />
          <div *ngIf="submitted && f.street.errors" class="invalid-feedback">
            <div *ngIf="f.street.errors.maxlength">{{ms.valid.maxChar(150)}}</div>
          </div>
        </div>
        <div class="col-lg-4">
          <input placeholder="{{seeker?.location.number_ext}}" type="text" formControlName="number_ext"
            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.number_ext.errors }" />
          <div *ngIf="submitted && f.number_ext.errors" class="invalid-feedback">
            <div *ngIf="f.number_ext.errors.maxlength">{{ms.valid.maxChar(20)}}</div>
          </div>
        </div>
        <div class="col-lg-4">
          <input   placeholder="{{seeker?.location.zip_code}}" type="text" formControlName="zip_code" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.zip_code.errors }" />
          <div *ngIf="submitted && f.zip_code.errors" class="invalid-feedback">
            <div *ngIf="f.zip_code.errors.required">{{ms.valid.required}}</div>
            <div *ngIf="f.zip_code.errors.maxlength">{{ms.valid.maxChar(10)}}</div>
            <div *ngIf="f.zip_code.errors.minlength">{{ms.valid.minChar(5)}}</div>
          </div>
        </div>
        <div class="col-lg-12"><hr /></div>
        <div class="col-lg-4">
          <input mask="(000) 000-0000" placeholder="{{seeker?.location.mobile}}" type="text" formControlName="mobile" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" />
          <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
            <div *ngIf="f.mobile.errors.required">{{ms.valid.required}}</div>
            <div *ngIf="f.mobile.errors.maxlength">{{ms.valid.maxChar(50)}}</div>
          </div>
        </div>

        <div class="col-lg-4">
            <input mask="(000) 000-0000" placeholder="{{seeker?.location.phone}}" type="text" formControlName="phone" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
            <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
              <div *ngIf="f.phone.errors.required">{{ms.valid.required}}</div>
              <div *ngIf="f.phone.errors.maxlength">{{ms.valid.maxChar(50)}}</div>
            </div>
          </div>

          

          


          <div class="col-lg-4">
            <input placeholder="{{seeker?.location.phone_extra}}" 
            mask="(000) 000-0000" type="text" formControlName="phone_extra" class="form-control"
               />
            
          </div>
          <div class="col-lg-12"><hr /></div>
          <div class="col-lg-6">
            <div class="custom-control custom-switch mb-2" dir="ltr">
                <input formControlName="availability" type="checkbox" class="custom-control-input" id="availability" >
                <label class="custom-control-label" for="availability">
                    {{seeker?.location.availability}}
                </label>
              </div>
          </div>
          <div class="col-lg-6">
            <input placeholder="{{seeker?.location.website}}" 
             type="text" formControlName="website" class="form-control"
               />
          </div>
      </div>

    </div>
  </div>




  <ul class="list-inline wizard mb-0">
    <li class="previous list-inline-item">
      <a class="btn btn-light" (click)="onCloseBasicClick()">{{ms.cruds.cancel}}</a>
    </li>

    <li class="next list-inline-item float-right">
      <button [disabled]="locationForm.pristine" type="submit" class="btn btn-primary w-md">
        {{ms.cruds.save}}
      </button>
    </li>
  </ul>
</form>
