<h4 class="card-title mb-4">
  <i *ngIf="professionalExperience" (click)="onEditBasicClick()"
    class="bx bx-plus-circle bx-sm text-right text-danger edit-profile "></i>
  <i *ngIf="!professionalExperience" (click)="onCloseBasicClick()"
    class="bx bx-x  bx-sm text-right text-danger edit-profile "></i>

  {{seeker?.professionalExperience.title}}
</h4>

<div class="media" *ngIf="professionalExperience">
  <div class="mr-4">
    <i class="bx bxs-network-chart  text-primary h1"></i>
  </div>

  <div class="media-body">
      <div class="table-responsive"  *ngFor="let exp of data">
        <table class="table table-nowrap mb-0">
          <tbody>
            <tr>
              <th scope="row">
                <i class="bx bxs-building "></i>{{exp?.company}} <br>[{{exp?.job}}] <br>
                <sup><i class="bx bx-time "></i> {{exp?.start_month}}/{{exp?.start_year}} - 
                {{exp?.end_month}} /{{exp?.end_year}}</sup>
                <br>
                <i [ngClass]="{ 'bx-badge-check bx-sm text-info': exp?.current }" class="bx  "></i>
               
              </th>
              <td class="text-wrap">{{exp?.activities_achievements}} </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>

<ngx-loading [show]="loading"></ngx-loading>
<form *ngIf="!professionalExperience" class="form-horizontal" name="professionalExperienceForm" [formGroup]="professionalExperienceForm" (ngSubmit)="onSubmit()"
  novalidate>

  <div class="row">
    <div class="col-12">
      <ngb-alert type="danger" [innerHTML]="error" *ngIf="error" [dismissible]="true">{{ error }}</ngb-alert>
    </div>
    <div class="col-12">


      <div class="form-group row mb-4">
        <div class="col-lg-6">
            <input placeholder="{{seeker?.professionalExperience.company}}" type="text" formControlName="company"
              class="form-control" [ngClass]="{ 'is-invalid': submitted && f.company.errors }" />
            <div *ngIf="submitted && f.company.errors" class="invalid-feedback">
              <div *ngIf="f.company.errors.required">{{ms.valid.required}}</div>
              <div *ngIf="f.company.errors.minlength">{{ms.valid.minChar(4)}}</div>
              <div *ngIf="f.company.errors.maxlength">{{ms.valid.maxChar(150)}}</div>
            </div>
          </div>

        <div class="col-lg-6">
            <input placeholder="{{seeker?.professionalExperience.job}}" type="text" formControlName="job"
              class="form-control" [ngClass]="{ 'is-invalid': submitted && f.job.errors }" />
            <div *ngIf="submitted && f.job.errors" class="invalid-feedback">
              <div *ngIf="f.job.errors.required">{{ms.valid.required}}</div>
              <div *ngIf="f.job.errors.minlength">{{ms.valid.minChar(6)}}</div>
              <div *ngIf="f.job.errors.maxlength">{{ms.valid.maxChar(150)}}</div>
            </div>
          </div>
        <div class="col-lg-12">
            <hr />
          </div>
          
          <label for="start_month" class="col-form-label col-lg-3">
            {{seeker?.professionalExperience.start_month}}</label>
        <div class="col-lg-3">
          <ng-select 
          [items]="months" 
          notFoundText="{{ms?.actions.NOT_FOUND}}"
          placeholder="{{ms?.actions.SELECT}}"
          formControlName="start_month"
          bindLabel="month" 
          bindValue="id" 
          [ngClass]="{ 'is-invalid': submitted && f.start_month.errors }"
          ></ng-select>

          <div *ngIf="submitted && f.start_month.errors" class="invalid-feedback">
            <div *ngIf="f.start_month.errors.required">{{ms.valid.required}}</div>
          </div>
        </div>

        <label for="start_year" class="col-form-label col-lg-3">
            {{seeker?.professionalExperience.start_year}}</label>
        <div class="col-lg-3">
          <ng-select 
          [items]="years" 
          notFoundText="{{ms?.actions.NOT_FOUND}}"
          placeholder="{{ms?.actions.SELECT}}"
          formControlName="start_year"
          [ngClass]="{ 'is-invalid': submitted && f.start_year.errors }"
          ></ng-select>

          <div *ngIf="submitted && f.start_year.errors" class="invalid-feedback">
            <div *ngIf="f.start_year.errors.required">{{ms.valid.required}}</div>
          </div>
        </div>



        <label for="end_month" class="col-form-label col-lg-3">
            {{seeker?.professionalExperience.end_month}}</label>
        <div class="col-lg-3">
          <ng-select 
          [items]="months" 
          notFoundText="{{ms?.actions.NOT_FOUND}}"
          placeholder="{{ms?.actions.SELECT}}"
          formControlName="end_month"
          bindLabel="month" 
          bindValue="id" 
          [ngClass]="{ 'is-invalid': submitted && f.end_month.errors }"
          ></ng-select>

          <div *ngIf="submitted && f.end_month.errors" class="invalid-feedback">
            <div *ngIf="f.end_month.errors.required">{{ms.valid.required}}</div>
          </div>
        </div>

        <label for="end_year" class="col-form-label col-lg-3">
            {{seeker?.professionalExperience.end_year}}</label>
        <div class="col-lg-3">
          <ng-select 
          [items]="years" 
          notFoundText="{{ms?.actions.NOT_FOUND}}"
          placeholder="{{ms?.actions.SELECT}}"
          formControlName="end_year"
          [ngClass]="{ 'is-invalid': submitted && f.end_year.errors }"
          ></ng-select>

          <div *ngIf="submitted && f.end_year.errors" class="invalid-feedback">
            <div *ngIf="f.end_year.errors.required">{{ms.valid.required}}</div>
          </div>
        </div>



        <div class="col-lg-12">
            <hr />
          </div>


          <div class="col-lg-12">
                <textarea placeholder="{{seeker?.professionalExperience.activities_achievements}}"
                 type="text" formControlName="activities_achievements"
                  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.activities_achievements.errors }" >
                </textarea>
                <div *ngIf="submitted && f.activities_achievements.errors" class="invalid-feedback">
                  <div *ngIf="f.activities_achievements.errors.required">{{ms.valid.required}}</div>
                  <div *ngIf="f.activities_achievements.errors.minlength">{{ms.valid.minChar(20)}}</div>
                  <div *ngIf="f.activities_achievements.errors.maxlength">{{ms.valid.maxChar(255)}}</div>
                </div>
          </div>

          <div class="col-lg-12">
            <hr />
          </div>


        <div class="col-lg-12">
          <div class="custom-control custom-switch mb-2" dir="ltr">
            <input formControlName="current" type="checkbox" class="custom-control-input" id="current">
            <label class="custom-control-label" for="current">
              {{seeker?.professionalExperience.current}}
            </label>
          </div>
        </div>
      </div>

    </div>


    <div class="media-body">
      <div class="table-responsive"  *ngFor="let exp of data">
        <table class="table table-nowrap mb-0">
          <tbody>
            <tr>
              <th scope="row">
                <a (click)="onDeleteClick(exp.id)" href="javascript:void(0)"
                class="btn btn-danger btn-sm font-size-11 m-1" >
                <i class="bx bx-trash-alt "></i></a>
                <a href="javascript:void(0)" class="badge badge-primary font-size-13 m-1">
                  {{exp?.company}} [{{exp?.job}}] 
                </a>
               
              </th>
            </tr>
          </tbody>
        </table>
      </div>
  </div>


  </div>




  <ul class="list-inline wizard mb-0">
    <li class="previous list-inline-item">
      <a class="btn btn-light" (click)="onCloseBasicClick()">{{ms.cruds.cancel}}</a>
    </li>

    <li class="next list-inline-item float-right">
      <button [disabled]="professionalExperienceForm.pristine" type="submit" class="btn btn-primary w-md">
        {{ms.cruds.save}}
      </button>
    </li>
  </ul>
</form>
