<h4 class="card-title mb-4">
    <i *ngIf="skill" (click)="onEditBasicClick()"
      class="bx bx-plus-circle  bx-sm text-right text-danger edit-profile "></i>
    <i *ngIf="!skill" (click)="onCloseBasicClick()" class="bx bx-x  bx-sm text-right text-danger edit-profile "></i>
  
    {{seeker?.skills.title}}
  </h4>
  
  <div class="media" *ngIf="skill">
    <div class="mr-4">
      <i class="bx bx-tag   text-primary h1"></i>
    </div>
  
    <div class="media-body">
      <a  href="javascript:void(0)"
      class="badge badge-success font-size-13 m-1" *ngFor="let sk of data">
      {{sk.skills}}</a>
    </div>
  </div>
  
  <ngx-loading [show]="loading"></ngx-loading>
  <form *ngIf="!skill" class="form-horizontal" name="skillForm" [formGroup]="skillForm" (ngSubmit)="onSubmit()"
    novalidate>
    <div class="row">
      <div class="col-12">
        <ngb-alert type="danger" [innerHTML]="error" *ngIf="error" [dismissible]="true">{{ error }}</ngb-alert>
      </div>
  
      <div class="col-12">
  
  
       <div class="form-group row mb-4">
          <div class="col-lg-12">
            <input placeholder="{{seeker?.skills.suggest}}" 
             type="text" formControlName="skills" class="form-control"
               />

            <div *ngIf="submitted && f.skills.errors" class="invalid-feedback">
              <div *ngIf="f.skills.errors.required">{{ms.valid.required}}</div>
            </div>
          </div>
  
          <div class="col-lg-12"><hr /></div>
  
        </div>
  
  
      </div>
  
      </div>

      <div class="media" *ngIf="!skill">
        <div class="mr-4">
          <i class="bx bx-tag   text-primary h1"></i>
        </div>
      
        <div class="media-body">
          <a (click)="onDeleteSkillClick(sk.id)" href="javascript:void(0)"
          class="badge badge-secondary font-size-13 m-1" *ngFor="let sk of data">
          <i class="bg-danger bx bx-trash-alt "></i>
          {{sk.skills}}</a>
        </div>
      </div>
  
      <ul class="list-inline wizard mb-0">
          <li class="previous list-inline-item">
            <a class="btn btn-light" (click)="onCloseBasicClick()">{{ms.cruds.cancel}}</a>
          </li>
      
          <li class="next list-inline-item float-right">
            <button [disabled]="skillForm.pristine" type="submit" class="btn btn-danger w-md">
              {{ms.cruds.add}}
            </button>
          </li>
        </ul>
  </form>
  