<div class="modal-header">
  <h5 class="modal-title mt-0 ">
    <i class="icon dripicons-warning text-warning "> </i>  
    {{ms.complete.title}}</h5>
  <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-hidden="true">×</button>
</div>
<div class="modal-body">
    <p>{{ms.complete.desc}}</p>
  </div>
  <div class="modal-footer">
    <div (click)="onSkipClick()" class="custom-control custom-switch mb-2" dir="ltr">
        <input  type="checkbox" class="custom-control-input" checked>
        <label class="custom-control-label" for="customSwitch1">
            {{ms.complete.skip}}
        </label>
      </div>
    
    <a (click)="onProfileClick()" class="btn btn-secondary btn-sm">{{ms.actions.GO_PROFILE}}</a>
  </div>
