<ngx-loading [show]="loading"></ngx-loading>

<div class="home-btn d-none d-sm-block">
  <a [routerLink]="['/']" href="javascript:void(0)" class="text-dark"><i class="fas fa-home h2"></i></a>
</div>
<div class="account-pages mt-5 mb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden"  >
          <div class="bg-soft-primary">
            <div class="row">
              <div class="col-7">
                <div class="text-primary p-4">
                  <h5 class="text-primary">{{ms.login.WELCOME}}!</h5>
                  <p>{{ms.login.GREETING}}.</p>
                </div>
              </div>
              <div class="col-5 align-self-end">
                <img src="assets/images/profile-img.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div>
              <a href="/">
                <div class="avatar-md profile-user-wid mb-4">
                  <span class="avatar-title rounded-circle bg-light">
                    <img src="assets/images/logo.png" alt="" class="rounded-circle" height="34">
                  </span>
                </div>
              </a>
            </div>
            <div class="p-2">
              <form  class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>

                <div class="form-group mb-3">
                  <label for="email">{{ms.fields.email}}</label>

                  <input type="email" formControlName="email" class="form-control" id="email"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">{{ms.valid.required}}</div>
                    <div *ngIf="f.email.errors.email">{{ms.valid.email}}</div>
                  </div>
                </div>

                <div class="form-group mb-3">
                  <label for="password">{{ms.fields.password}}</label>
                  <div class="input-group">
                    <input  [type]="fieldTextType ? 'text' : 'password'" formControlName="password" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="password" />
                    <div class="input-group-append">
                      <span class="input-group-text bg-white ">
                        <i class="text-primary fa"
                        [ngClass]="{
                          'fa-eye-slash': !fieldTextType,
                          'fa-eye': fieldTextType
                        }" (click)="onClickFieldTextType()"></i>
                      </span>
                    </div>
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">{{ms.valid.required}}</div>
                      </div>
                  </div>
                </div>


                <div class="mt-3">
                  <button class="btn btn-primary btn-block" type="submit">{{ms.login.SIGN_IN}}</button>
                </div>

                <div class="mt-4 text-center">
                  <a routerLink="/account/reset-password" class="text-muted">
                    <i class="mdi mdi-lock mr-1"></i> 
                  {{ms.login.FORGOT_PASSWORD}}
                  </a>
                </div>
              </form>
            </div>

          </div>
        </div>
        <div class="mt-5 text-center">
          <p>{{ms.login.HAS_ACCOUNT}} 
            <a [routerLink]="['/account/signup']" class="font-weight-medium text-primary"> 
              {{ms.login.REGISTER}}
            </a> </p>
          <p>© {{year}} <i class="mdi mdi-heart text-danger"></i>  {{ms.brand.SYSTEM}}</p>
        </div>
        <div class="col-sm-12">
          <div class="text-sm-center d-none d-sm-block">
              {{ms.current_version}} <span [innerHTML]="ms.brand_me"></span>
          </div>
      </div>

      </div>
    </div>
  </div>

  <!-- end container -->
</div>
<!-- end page -->
