<ngx-loading [show]="loading"></ngx-loading>
<div class="container-fluid">

  <!-- start page title -->
  <app-page-title title="{{ms.TITLE}}" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <!-- end page title -->

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="text-primary p-4 text-left">
            <h5 class="text-primary">{{profile?.username}}</h5>
            <p>{{profile?.description}}</p>
          </div>
          <form enctype='multipart/form-data' *ngIf="!loading" class="needs-validation" name="settingsForm" [formGroup]="settingsForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="form-group row mb-4">
              <label for="email" class="col-form-label col-lg-2">Email</label>
              <div class="col-lg-10">
                <input type="email" formControlName="email"  class="form-control" id="email"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Ingresa tu email" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">{{ms.valid.required}}</div>
                  <div *ngIf="f.email.errors.email">{{ms.valid.email}}</div>
                  
              </div>
              </div>
            </div>

            <div class="form-group row mb-4" >
              <label for="username" class="col-form-label col-lg-2">{{ms.fields.USERNAME}}</label>
              <div class="col-lg-10">
                <input type="test" formControlName="username"  class="form-control" id="username"
                [ngClass]="{ 'is-invalid': submitted && f.username.errors }"  />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                  <div *ngIf="f.username.errors.required">{{ms.valid.required}}</div>
                  <div *ngIf="f.username.errors.minlength">Debe contener al menos 4 caracteres</div>
              </div>
              </div>
            </div>

            <div class="form-group row mb-4">
              <label for="password" class="col-form-label col-lg-2">{{ms.fields.PASSWORD}}</label>
              <div class="col-lg-10">
                <input type="password" formControlName="password"  class="form-control" id="password"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }"  />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">{{ms.valid.required}}</div>
                  <div *ngIf="f.password.errors.minlength">Debe contener al menos 8 caracteres</div>
              </div>
              </div>
            </div>

            <div class="form-group row mb-4">
              <label for="email" class="col-form-label col-lg-2">{{ms.fields.FIRST_NAME}}</label>
              <div class="col-lg-10">
                <input type="text" formControlName="first_name"  class="form-control" id="first_name"
                [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }"  />
                <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
                  <div *ngIf="f.first_name.errors.required">{{ms.valid.required}}</div>
              </div>
              </div>
            </div>

            <div class="form-group row mb-4">
              <label for="email" class="col-form-label col-lg-2">{{ms.fields.MIDDLE_NAME}}</label>
              <div class="col-lg-10">
                <input type="text" formControlName="middle_name"  class="form-control" id="middle_name"
                [ngClass]="{ 'is-invalid': submitted && f.middle_name.errors }"  />
                <div *ngIf="submitted && f.middle_name.errors" class="invalid-feedback">
                  <div *ngIf="f.middle_name.errors.required">{{ms.valid.required}}</div>
              </div>
              </div>
            </div>

            <div class="form-group row mb-4">
              <label for="email" class="col-form-label col-lg-2">{{ms.fields.LAST_NAME}}</label>
              <div class="col-lg-10">
                <input type="text" formControlName="last_name"  class="form-control" id="last_name"
                [ngClass]="{ 'is-invalid': submitted && f.last_name.errors }"  />
                <div *ngIf="submitted && f.last_name.errors" class="invalid-feedback">
                  <div *ngIf="f.last_name.errors.required">{{ms.valid.required}}</div>
              </div>
              </div>
            </div>

            <div class="form-group row mb-4">
              <label for="avatar" class="col-form-label col-lg-2">{{ms.fields.AVATAR}}</label>
              <div class="col-lg-10">
                <div class="custom-file">
                  <input #avatar  (change)="onFileChanged($event)"  type="file" class="custom-file-input">
                  <label class="custom-file-label" for="avatar">{{fileName? fileName :ms.settings.CHOOSE}}</label>
                </div>
              </div>
            </div>



          
          <div class="row justify-content-end">
            <div class="col-lg-10">
              <div class="button-items">
                <button [disabled]="settingsForm.pristine" type="submit" class="btn btn-primary w-md">Guardar</button>
                <a  [routerLink]="'/'" class="btn btn-light w-md">Regresar</a>
            </div>
            </div>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->

</div> <!-- container-fluid -->
