<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                {{year}} © Total Empleos. 
            </div>
            <div class="col-sm-6">
                    <div class="text-sm-center d-none d-sm-block">
                        {{ms.current_version}} <span [innerHTML]="ms.brand_me"></span>
                    </div>
            </div>
        </div>
    </div>
</footer>