<div class="container-fluid">
  <app-page-title title="{{ model.TITLE }}" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <!-- Standard Modal -->
    <ng-template #content role="document" let-modal>
      <div class="modal-header">
        <h5 class="modal-title mt-0">{{ms.confirms.COMMON}}</h5>
        <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
      </div>
      <div class="modal-body">
        <p>{{ms.confirms.ACTIVE}}</p>


        <form class="needs-validation" name="reasonForm" [formGroup]="reasonForm" (ngSubmit)="onSubmit(modal)" novalidate>
          <div class="form-group row mb-12">
            <div class="col-lg-10">
              <textarea formControlName="reason" class="form-control" id="reason"
                [ngClass]="{ 'is-invalid': submitted && f.reason.errors }">
          </textarea>
              <div *ngIf="submitted && f.reason.errors" class="invalid-feedback">
                <div *ngIf="f.reason.errors.required">{{ms.valid.required}}</div>
                <div *ngIf="f.reason.errors.minlength">Debe contener al menos 8 caracteres</div>
              </div>
            </div>
          </div>
        </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">{{ms.controls.CLOSE}}</button>
        <button (click)="onSubmit(modal)" [disabled]="reasonForm.pristine"  type="button" class="btn btn-danger">{{ms.controls.CONFIRM}}</button>
      </div>
    </ng-template>
  </div>


  <div class="row">
    <div class="col-xl-12 col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-8">
              <div class="button-items">
                <a [routerLink]="['/settings/new']" href="javascript:void(0)" ngbTooltip="Nuevo"
                  class="btn btn-primary">
                  <i class="fas fa-plus"></i> {{ms.addNew}}
                </a>
              </div>
              <br>
            </div>

            <div class="col-lg-4">
              <div class="input-group mb-3" [formGroup]="form">
                <input #search id="search" type="text" (keyup.enter)="onEnter($event)" formControlName="query"
                  placeholder="Buscar" class="text-left form-control" />
                <div class="input-group-append">
                  <button (click)="onSearchClick(search.value)" class="btn btn-primary" type="button">
                    <i class="dripicons-search"></i>
                  </button>
                </div>
              </div>
            </div>

            <div class="col-lg-8">
              <span class="bagde bagde-primary" role="button" (click)="onOrderClick($event)">{{ms.order}}
                <i [ngClass]="{
                        'bx-message-square-minus': orderToggle,
                        'bx-message-square-x': !orderToggle
                      }" class="bx"></i>
              </span>
            </div>



            <div class="col-lg-4">
              <select (change)="onActiveChange($event)" class="form-control">
                <option *ngFor="let search of ms.actions.SEARCH_ACTIVES" value="{{search.value}}">{{search.name}}
                </option>
              </select>
            </div>


          </div>


        </div>
      </div>
    </div>

    <div class="col-xl-3 col-sm-6" *ngFor="let sk of skeleton">
      <div *ngIf="loading" class="card text-center">
        <div class="card-body">
          <ngx-skeleton-loader appearance="circle" count="1"> </ngx-skeleton-loader>
          <ngx-skeleton-loader count="3"> </ngx-skeleton-loader>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-sm-6" *ngFor="let user of admins">
      <div *ngIf="!loading" class="card text-center">
        <div class="card-body">
          <div class="avatar-sm mx-auto mb-4" *ngIf="!user.avatar">
            <span class="avatar-title rounded-circle bg-soft-primary text-primary font-size-16">
              {{ user.username.charAt(0) }}
            </span>
          </div>
          <div *ngIf="user.avatar" class="mb-4">
            <img class="rounded-circle avatar-sm" src="{{ user.avatar }}" alt />
          </div>
          <h5 class="font-size-15">
            <a href="javascript: void(0);" class="text-dark">{{
              user.username
            }}</a>
          </h5>
          <p class="text-muted">{{ user.fullname }}</p>
          <div>
            <span class="badge badge-pill badge-soft-success font-size-12" [ngClass]="{
                'badge-soft-success': user?.active,
                'badge-soft-warning': !user?.active
              }">
              {{ getActiveValue(user.active) }}
            </span>
          </div>
        </div>
        <div class="card-footer bg-transparent border-top">
          <div class="contact-links d-flex font-size-20">
            <div class="flex-fill">
              <a href="javascript: void(0);" (click)="openActive(content,user.id)" ngbTooltip="Activar">
                <i [ngClass]="{
                    bx: true,
                    'bxs-toggle-right text-success': user.active,
                    'bxs-toggle-left text-secondary': !user.active
                  }"></i></a>
            </div>
            <div class="flex-fill">
              <a [routerLink]="['/profile/', user.id]" ngbTooltip="Mostrar">
                <i class="mdi mdi-eye text-primary"></i></a>
            </div>

            <div class="flex-fill">
              <a [routerLink]="'/settings/'+user.id+'/edit'" ngbTooltip="Editar">
                <i class="bx bx-door-open text-info"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>
