<div id="layout-wrapper">
  <div class="main-content">
    <div class="account-pages my-5 pt-sm-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12">
            
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <app-dashboard-search [session]="session" [payload]="payload"></app-dashboard-search>
                        </div>
                    </div>
                    <!-- end row -->
                </div>
            </div>
  
            <!-- end card -->
  
            <div class="mt-5 text-center">
              <p>{{ms.register.ALREADY_ACCOUNT}}
                <a [routerLink]="['/account/login']" href="javascript:void(0)" class="font-weight-medium text-primary"> {{ms.login.LOG}}</a>
              </p>
              <p>© {{year}} <i class="mdi mdi-heart text-danger"></i> {{ms.brand.SYSTEM}}</p>
            </div>
            <div class="col-sm-12">
              <div class="text-sm-center d-none d-sm-block">
                  {{ms.current_version}} <span [innerHTML]="ms.brand_me"></span>
              </div>
          </div>
          </div> <!-- end col -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </div>
  </div>
  
</div>
<!-- end page -->
