
<div class="container-fluid">
  <app-page-title title="{{model.TITLE}}" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <app-dashboard-search [admin]="true" [session]="true" ></app-dashboard-search>
            </div>
        </div>
        <!-- end row -->
    </div>
</div>

</div>
