
<div class="container-fluid">

  <!-- start page title -->
  <app-page-title title="{{model.new}}" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <!-- end page title -->

  <job-form></job-form>
  <ul class="list-inline wizard mb-0">
    <li  class="previous list-inline-item">
      <a class="btn btn-light" [routerLink]="['/jobs']">{{ms.cruds.previous}}</a>
    </li>
  </ul>
  <!-- end row -->

</div> <!-- container-fluid -->
