<ngx-loading [show]="loading"></ngx-loading>
<div class="container-fluid">
  <!-- start page title -->
  <!-- end page title -->

  <div class="row" *ngIf="!loading">

    <div  class="col-md-12">
      <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-4">{{title}}
              <i *ngIf="!edit" (click)="onEditBasicClick()" class="bx bx-intersect bx-sm text-right text-primary edit-profile "></i>
              <i *ngIf="edit" (click)="onCloseBasicClick()" class="bx bx-x  bx-sm text-right text-danger edit-profile "></i>
            </h4>
           
          <div *ngIf="!edit" class="table-responsive">
            <table class="table table-nowrap mb-0">
              <tbody>
                <tr>
                  <th scope="row">{{ ms.fields.title }} :</th>
                  <td>{{ job?.title }}</td>
                </tr>

                <tr>
                  <th scope="row">{{ ms.fields.employer }} :</th>
                  <td>
                    <img  src="{{job?.employer_logo}}" alt="" class="rounded-circle avatar-sm">
                    {{ job?.employer }}</td>
                </tr>

                <tr>
                  <th  scope="row">{{ ms.fields.description }} :</th>
                  <td ><pre>{{job?.description}}</pre></td>
                </tr>

                <tr>
                  <th scope="row">{{ ms.fields.spec }} :</th>
                  <td>{{ job?.spec }}</td>
                </tr>
               
                <tr>
                  <th scope="row">{{ ms.fields.categories }} :</th>
                  <td class="text-wrap">
                    <span class="badge badge-info" *ngFor="let category of categories">
                     <i class="mdi mdi-tag mdi-18px"> 
                     </i>{{category.title}}
                    </span>
                   </td>
                </tr>
               

                <tr>
                  <th scope="row">{{ ms.fields.location }} :</th>
                  <td>{{ job?.location }}</td>
                </tr>

                <tr>
                  <th scope="row">{{ ms.fields.salary }} :</th>
                  <td>{{ job?.salary | currency:'MXN' }}</td>
                </tr>


                <tr>
                  <th scope="row">{{ ms.fields.seen }} :</th>
                  <td>
                    <span class="badge badge-primary">
                      <i class="mdi mdi-eye-check-outline  mdi-18px">
                       
                      </i>
                      {{ ms.jobs.timesSeen(job?.seen ) }}
                    </span>
                  </td>
                </tr>

                <tr>
                  <th scope="row">{{ ms.fields.show_salary }} :</th>
                  <td>
                    
                    <span class="badge badge-pill badge-soft-success font-size-12" 
                    [ngClass]=" { 'badge-soft-success': job?.show_salary,
                    'badge-soft-warning':!job?.show_salary }">
                    <i class="bx"
                    [ngClass]=" { 'bx-check-circle': job?.show_salary,
                    'bx-x':!job?.show_salary }"
                    ></i>
                  </span>
                </td>
                </tr>

                <tr>
                  <th scope="row">{{ ms.fields.confidencial }} :</th>
                  <td>
                    <span class="badge badge-pill badge-soft-success font-size-12" 
                    [ngClass]=" { 'badge-soft-success': job?.confidencial,
                    'badge-soft-danger':!job?.confidencial }">
                    <i class="bx"
                    [ngClass]=" { 'bx-check-circle': job?.confidencial,
                    'bx-x':!job?.confidencial }"
                    ></i>
                  </span>
                  </td>
                </tr>
                
                <tr>
                  <th scope="row">{{ ms.fields.dates }} :</th>
                  <td>{{ job?.dates }}</td>
                </tr>
                
                <tr>
                  <th scope="row">{{ ms.fields.active }} :</th>
                  <td>
                    
                    <span class="badge badge-pill badge-soft-success font-size-12" 
                    [ngClass]=" { 'badge-soft-success': job?.active,
                    'badge-soft-warning':!job?.active }">
                    {{active}}
                  </span>
                    </td>
                </tr>

                <tr>
                  <th scope="row">{{ ms.cruds.created }} :</th>
                  <td>{{ created }}</td>
                </tr>

                <tr>
                  <th scope="row">{{ ms.cruds.updated }} :</th>
                  <td>{{ updated }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <job-form [data]="jobEdit" *ngIf="edit"></job-form>

        </div>
      </div>


      <div class="card">
        <div class="card-body">
            <div class="button-items">
              <a
              (click)="onBackClick()"
              href="javascript:void(0)"
              class="btn btn-light w-md"
            >
              {{ ms.cruds.back }}
            </a>

           
              </div>
        </div>
      </div>

    </div>


  </div>
  <!-- end row -->
</div>
<!-- container-fluid -->
