<div class="card" *ngIf="isAuth">
  <div class="card-body">
    <h4 class="card-title mb-4">{{ms.register_admin}}</h4>
    <div class="row">
      <div class="col-lg-12">
        <app-stat [title]="ms.jobs.my_jobs" [value]="jobs?.length" [icon]="'bx bx-briefcase-alt '">
        </app-stat>
      </div>

      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-4">{{ms.reasons}}</h4>
              <ul class="list-group">
                <li *ngFor="let reason of reasons" class="list-group-item">
                  <div class="media">
                    <div class="avatar-xs mr-3">
                      <span class="avatar-title rounded-circle bg-light">
                        <img src="{{reason.avatar}}" alt="" height="18">
                    </span>
                    </div>
                    <div class="media-body">
                      <h5 class="font-size-14">{{reason.reason}}</h5>
                      <p class="text-muted">
                        {{ms.created_by(reason.author,reason.date)}}
                      </p>
                      <span class="badge badge-pill badge-soft-success font-size-12" [ngClass]="{
                        'badge-soft-success': reason.actual,
                        'badge-soft-warning': !reason.actual
                      }">
                      {{ms.status_active(reason.actual)}}
                    </span>
                     
                    </div>
                  </div>
                </li>
              </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
