<div class="card" *ngIf="isAuth">
  <div class="card-body">
    <basic-seeker [data]="payload?.timeline.basic" [basic]="basic"></basic-seeker>
  </div>
</div>

<div class="card" *ngIf="isAuth">
  <div class="card-body">
    <location-seeker [data]="payload?.timeline.location" [location]="basic"></location-seeker>
  </div>
</div>


<div class="card" *ngIf="isAuth">
  <div class="card-body">
    <academic-seeker [data]="payload?.timeline.academic" [academic]="basic"></academic-seeker>
  </div>
</div>


<div class="card" *ngIf="isAuth">
  <div class="card-body">
    <professional_experience-seeker [data]="payload?.timeline.professionalExperiences" [professionalExperience]="basic"></professional_experience-seeker>
  </div>
</div>

<div class="card" *ngIf="isAuth">
  <div class="card-body">
    <category-seeker [data]="payload?.timeline.category" [category]="basic"></category-seeker>
  </div>
</div>


<div class="card" *ngIf="isAuth">
  <div class="card-body">
    <skills-seeker [data]="payload?.timeline.skills" [skill]="basic"></skills-seeker>
  </div>
</div>




<div class="card" *ngIf="isAuth">
  <div class="card-body">
    <language-seeker [data]="payload?.timeline.languages" [language]="basic"></language-seeker>
  </div>
</div>




