    <ngx-loading [show]="loading"></ngx-loading>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">

            <form class="needs-validation" name="jobForm" [formGroup]="jobForm" (ngSubmit)="onSubmit()" novalidate>
              <ngb-alert type="danger" *ngIf="errors" [innerHTML]="errors" [dismissible]="false">{{errors}}</ngb-alert>

              <div class="form-group row mb-4">
                <div class="col-lg-12">
                  <input type="text" placeholder="{{ms.fields.title}}" formControlName="title"
                    class="form-control" id="title"
                    [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
                  <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                    <div *ngIf="f.title.errors.required">{{ms.valid.required}}</div>
                    <div *ngIf="f.title.errors.maxlength">{{ms.valid.maxChar(150)}}</div>
                    <div *ngIf="f.title.errors.minlength">{{ms.valid.minChar(5)}}</div>
                  </div>
                </div>
              </div>

              <div class="form-group row mb-4">
                <div class="col-lg-12">

                  <textarea rows="20" placeholder="{{ms.fields.description}}" formControlName="description"
                    class="form-control" id="description"
                    [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
                  <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                    <div *ngIf="f.description.errors.required">{{ms.valid.required}}</div>
                    <div *ngIf="f.description.errors.maxlength">{{ms.valid.maxChar(1500)}}</div>
                    <div *ngIf="f.description.errors.minlength">{{ms.valid.minChar(10)}}</div>
                  </div>
                </div>
              </div>


              <div class="form-group row mb-4">
                <label for="user_employer_id" class="col-form-label col-lg-2">
                  {{ms.fields.user_employer_id}}</label>
                <div class="col-lg-4">
                  <ng-select 
                  [items]="employers" 
                  bindLabel="title" 
                  bindValue="id" 
                  (focus)="onEmployerChange($event)"
                  [minTermLength]=3
                  appendTo='body'
                  loadingText="Buscando..."
                  notFoundText="{{ms?.actions.NOT_FOUND}}"
                  placeholder="{{ms.fields.user_employer_id}}"
                  formControlName="user_employer_id"
                  [ngClass]="{ 'is-invalid': submitted && f.user_employer_id.errors }"
                  ></ng-select>
                   <div *ngIf="submitted && f.user_employer_id.errors" class="invalid-feedback">
                     <div *ngIf="f.user_employer_id.errors.required">{{ms.valid.required}}</div>
                   </div>
                 </div>
                 
                 <label for="job_type_id" class="col-form-label col-lg-2">
                  {{ms.fields.job_type_id}}</label>
                 <div class="col-lg-4">
                  <ng-select 
                  [items]="jobTypes" 
                  bindLabel="title" 
                  bindValue="id" 
                  (focus)="onJobTypeChange($event)"
                  [minTermLength]=3
                  appendTo='body'
                  loadingText="Buscando..."
                  notFoundText="{{ms?.actions.NOT_FOUND}}"
                  placeholder="{{ms.fields.job_type_id}}"
                  formControlName="job_type_id"
                  [ngClass]="{ 'is-invalid': submitted && f.job_type_id.errors }"
                  ></ng-select>
                   <div *ngIf="submitted && f.job_type_id.errors" class="invalid-feedback">
                     <div *ngIf="f.job_type_id.errors.required">{{ms.valid.required}}</div>
                   </div>
                 </div>


                
              </div>

              <div class="form-group row mb-4">
                <label for="work_space_id" class="col-form-label col-lg-2">
                  {{ms.fields.work_space_id}}</label>
                 <div class="col-lg-10">
                  <ng-select 
                  [items]="workSpaces" 
                  bindLabel="title" 
                  bindValue="id" 
                  (focus)="onWorkSpaceChange($event)"
                  [minTermLength]=3
                  appendTo='body'
                  loadingText="Buscando..."
                  notFoundText="{{ms?.actions.NOT_FOUND}}"
                  placeholder="{{ms.fields.work_space_id}}"
                  formControlName="work_space_id"
                  [ngClass]="{ 'is-invalid': submitted && f.work_space_id.errors }"
                  ></ng-select>
                   <div *ngIf="submitted && f.work_space_id.errors" class="invalid-feedback">
                     <div *ngIf="f.work_space_id.errors.required">{{ms.valid.required}}</div>
                   </div>
                 </div>
              </div>



              <div class="form-group row mb-4">

                <div class="col-lg-2">
                  <div class="custom-control custom-switch mb-2" dir="ltr">
                    <input formControlName="confidencial" type="checkbox" 
                    class="custom-control-input" id="confidencial" >
                    <label class="custom-control-label" for="confidencial">
                        {{ms.fields.confidencial}}
                    </label>
                  </div>
                </div>

                <div class="col-lg-2">
                  <div class="custom-control custom-switch mb-2" dir="ltr">
                    <input formControlName="active" type="checkbox" 
                    class="custom-control-input" id="active" >
                    <label class="custom-control-label" for="active">
                        {{ms.fields.active}}
                    </label>
                  </div>
                </div>

                <div class="col-lg-2">
                  <div class="custom-control custom-switch mb-2" dir="ltr">
                    <input formControlName="show_salary" type="checkbox" 
                    class="custom-control-input" id="show_salary" >
                    <label class="custom-control-label" for="show_salary">
                        {{ms.fields.show_salary}}
                    </label>
                  </div>
                </div>

                <div class="col-lg-3">
                  <input type="text" placeholder="{{ms.fields.salary}}" 
                  formControlName="salary" mask="separator.2" thousandSeparator="," 
                    class="form-control" id="salary" />
                </div>

                <div class="col-lg-3">
                  <input type="text" 
                  mask="00000" placeholder="{{ms.fields.zipcode}}" 
                  formControlName="zipcode"
                    class="form-control" id="zipcode" />
                </div>

               


              </div>
             


              <div class="form-group row mb-4">
                <div class="col-lg-6">
                  <select (change)="onStateChange($event)" class="form-control" formControlName="state_id"
                    [ngClass]="{ 'is-invalid': submitted && f.state_id.errors }">
                    <option [value]="state.id" *ngFor="let state of states">{{state.name}}</option>
                  </select>
                  <div *ngIf="submitted && f.state_id.errors" class="invalid-feedback">
                    <div *ngIf="f.state_id.errors.required">{{ms.valid.required}}</div>
                  </div>
                </div>

                <div class="col-lg-6">
                  <select class="form-control" formControlName="city_id"
                    [ngClass]="{ 'is-invalid': submitted && f.city_id.errors }">
                    <option [value]="city.id" *ngFor="let city of cities">{{city.name}}</option>
                  </select>
                  <div *ngIf="submitted && f.city_id.errors" class="invalid-feedback">
                    <div *ngIf="f.city_id.errors.required">{{ms.valid.required}}</div>
                  </div>
                </div>
              </div>


              
              <div class="form-group row mb-4">
                <div class="col-lg-6">
                  <input type="text" placeholder="{{ms.fields.start_date}}" 
                  formControlName="start_date" mask="0000-M0-d0" placeholder="yyyy-mm-dd"
                    class="form-control" id="start_date"
                    [ngClass]="{ 'is-invalid': submitted && f.start_date.errors }" />
                  <div *ngIf="submitted && f.start_date.errors" class="invalid-feedback">
                    <div *ngIf="f.start_date.errors.required">{{ms.valid.required}}</div>
                  </div>
                </div>

                <div class="col-lg-6">
                  <input type="text" placeholder="{{ms.fields.end_time}}" 
                  formControlName="end_time" mask="0000-M0-d0" placeholder="yyyy-mm-dd"
                    class="form-control" id="end_time"
                    [ngClass]="{ 'is-invalid': submitted && f.end_time.errors }" />
                  <div *ngIf="submitted && f.end_time.errors" class="invalid-feedback">
                    <div *ngIf="f.end_time.errors.required">{{ms.valid.required}}</div>
                  </div>
                </div>

              </div>

              <div class="form-group row mb-4">
                <div class="col-lg-12"><hr /></div>
                <label for="category_id" class="col-form-label col-lg-4">
                  {{ms.fields.category_id}}</label>
                <div class="col-lg-8">
                 <ng-select 
                 [items]="categories" 
                 bindLabel="title" 
                 bindValue="id" 
                 (focus)="onCategoriesChange($event)"
                 notFoundText="{{ms?.actions.NOT_FOUND}}"
                 placeholder="{{ms?.actions.SELECT}}"
                 formControlName="category_id"
                 [ngClass]="{ 'is-invalid': submitted && f.category_id.errors }"
                 [multiple]="true"></ng-select>
                  <div *ngIf="submitted && f.category_id.errors" class="invalid-feedback">
                    <div *ngIf="f.category_id.errors.required">{{ms.valid.required}}</div>
                  </div>
                </div>
        
                
        
              </div>
        


              <ul class="list-inline wizard mb-0">
                <li class="next list-inline-item float-right">
                  <button [disabled]="jobForm.pristine" type="submit" class="btn btn-primary w-md">
                    {{ms.cruds.save}}
                  </button>
                </li>
              </ul>
            </form>
          </div>
        </div>
      </div>
    </div>
