<div *ngIf="show" class="container-fluid">
    <app-page-title title="{{dashboard.TITLE}}" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="media">
                                <div class="mr-3">
                                    <img src="{{profileImage}}" alt=""
                                        class="avatar-md rounded-circle img-thumbnail">
                                </div>
                                <div class="media-body align-self-center">
                                    <div class="text-muted">
                                        <p class="mb-2">{{dashboard.GREETING}}</p>
                                        <h5 class="mb-1">{{user?.fullname}}</h5>
                                        <p class="mb-0">{{user?.description}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-4 d-none d-lg-block">
                            <div class="clearfix  mt-4 mt-lg-0">
                                <a (click)="onProfileClick()" href="javascript:void(0)" class="btn btn-primary btn-sm">{{ms.actions.GO_PROFILE}} <i
                                    class="mdi mdi-arrow-right ml-1"></i></a>
                                
                            </div>
                        </div>
                    </div>
                    <!-- end row -->

                    

                </div>
            </div>
        </div>
        
        <div class="col-lg-4">
            <app-stat [title]="stats.categories.TITLE" [value]="indicators?.categories" [icon]="stats.categories.icon"></app-stat>
        </div>

        <div class="col-lg-4">
            <app-stat [title]="stats.job_types.TITLE" [value]="indicators?.job_types" [icon]="stats.job_types.icon"></app-stat>
        </div>
        <div class="col-lg-4">
            <app-stat [title]="stats.scholarships.TITLE" [value]="indicators?.scholarships" [icon]="stats.scholarships.icon"></app-stat>
        </div>
        <div class="col-lg-4">
            <app-stat [title]="stats.language_proficiencies.TITLE" [value]="indicators?.language_proficiencies" [icon]="stats.language_proficiencies.icon"></app-stat>
        </div>
        <div class="col-lg-4">
            <app-stat [title]="stats.resume_languages.TITLE" [value]="indicators?.resume_languages" [icon]="stats.resume_languages.icon"></app-stat>
        </div>
        <div class="col-lg-4">
            <app-stat [title]="stats.work_spaces.TITLE" [value]="indicators?.work_spaces" [icon]="stats.work_spaces.icon"></app-stat>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-5">{{ms.jobs.TITLE}}
                    <footer  class="blockquote-footer">
                        {{ms.jobs.LAST}}
                    </footer></h4>
                    <ul class="verti-timeline list-unstyled">
                        <li *ngFor="let job of indicators.jobs" class="event-list active">
                            <div class="event-timeline-dot">
                                <i class="bx bxs-right-arrow-circle font-size-18 bx-fade-right"></i>
                            </div>
                            <div class="media">
                                <div class="mr-3">
                                    <h5 class="font-size-14">{{job.ago}} <i
                                            class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ml-2"></i>
                                    </h5>
                                </div>
                                <div class="media-body">
                                    <div>
                                        {{job.title}}
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="text-center mt-4"><a href="javascript:void(0)" [routerLink]="['/jobs']" class="btn btn-primary btn-sm">
                        {{ms.cruds.more}} <i
                                class="mdi mdi-arrow-right ml-1"></i></a></div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">{{ms.employeers.TITLE}}
                        <footer  class="blockquote-footer">
                            {{ms.employeers.LAST}}
                        </footer></h4>
                    <ul class="list-group">
                            <li *ngFor="let employer of indicators.employers" class="list-group-item">
                                <div class="media">
                                    <div class="avatar-xs mr-3">
                                        <span class="avatar-title rounded-circle bg-light">
                                            <img src="{{employer.logo}}" alt="" height="18">
                                        </span>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="font-size-14">{{employer.name}}</h5>
                                        
                                    </div>
                                </div>
                            </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- end row -->

</div> <!-- container-fluid -->