<div *ngIf="show" class="container-fluid">
    <app-page-title title="{{dashboard.TITLE}}" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <ngb-alert type="warning" *ngIf="!confirmation" [dismissible]="false">
       <i class=" fas fa-exclamation-circle "></i> {{ ms.confirmation_account }}
    </ngb-alert>
    <app-dashboard-search [session]="true" [payload]="payload"></app-dashboard-search>
    
    <ng-template #completeProfile let-modal>
      <div class="modal-header">
        <h5 class="modal-title mt-0">ssss{{ms.complete.title}}</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <p>{{ms.complete.desc}}sss</p>
      </div>
    </ng-template>
    <!-- end row -->
</div> <!-- container-fluid -->