<div class="home-btn d-none d-sm-block">
  <a [routerLink]="['/']" href="javascript:void(0)" class="text-dark"><i class="fas fa-home h2"></i></a>
</div>
<div class="account-pages my-5 pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-soft-primary">
            <div class="row">
              <div class="col-7">
                <div class="text-primary p-4">
                  <h5 class="text-primary"> Restablecer contraseña</h5>
                  <p>Ingrese la dirección de correo electrónico.</p>
                </div>
              </div>
              <div class="col-5 align-self-end">
                <img src="assets/images/profile-img.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div>
              <a href="/">
                <div class="avatar-md profile-user-wid mb-4">
                  <span class="avatar-title rounded-circle bg-light">
                    <img src="assets/images/logo.png" alt="" class="rounded-circle" height="34">
                  </span>
                </div>
              </a>
            </div>

            <div *ngIf="loading" class="spinner-border text-success m-1" >
              <span class="sr-only">Loading...</span>
            </div>
            <form *ngIf="!loading" class="needs-validation" name="resetForm" [formGroup]="resetForm" (ngSubmit)="onSubmit()" novalidate>

              <ngb-alert type="danger" *ngIf="showError" [dismissible]="false">{{ error }}</ngb-alert>

              <div class="form-group mb-3">
                <label for="email">Email</label>

                <input type="email" formControlName="email" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email" placeholder="Email" />

                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email es requerido</div>
                  <div *ngIf="f.email.errors.email">Email debe ser una dirección válida</div>
                </div>
              </div>
              <div class="form-group mb-0 row">
                <div class="col-12 text-center">
                  <button class="btn btn-primary w-md" type="submit">Restablecer</button>
                </div>
              </div>
            </form>
          


          </div> <!-- end card-body-->
        </div>
        <!-- end card -->
        <div class="mt-5 text-center">
          <p>Lo recuerdas ? <a routerLink="/account/login" class="font-weight-medium text-primary"> Inicia sesión aquí</a> </p>
          <p>© {{year}} <i class="mdi mdi-heart text-danger"></i> Total Empleos </p>
        </div>

      </div> <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end page -->
