
<div  class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <a [routerLink]="[backAuth()]" href="javascript:void(0)" class="btn btn-light btn-lg">
          <i class="bx bx-arrow-back"></i>
          {{ms.cruds.back}}
        </a>
      </div>
      <div class="col-lg-12">
        <div class="card" >
          <app-dashboard-job-skeleton *ngIf="loading"></app-dashboard-job-skeleton>
          <div class="card-body " *ngIf="!loading">
            <sup>{{ms.fields.published}} : {{job?.ago}}</sup>
            <div class="invoice-title  text-center">
              
              <div class="mb-4">
                <img src="{{showLogo(job)}}" alt height="80" /><br>
                <span *ngIf="job?.employer" > <i class="mdi mdi-office-building"></i>{{job?.employer}}</span>
              </div>
              <h4 class=" font-size-16">
                {{job?.title}}
                <footer *ngIf="job?.show_salary" class="blockquote-footer">{{showSalary(job?.salary | currency:'MXN') }}
              </footer>
              </h4>
            </div>
            <hr>
            <div class="row">
              <div class="col-12">
                <strong>{{ ms.fields.description | uppercase}} :</strong>
                <pre class="text-description">{{job?.description}}</pre>
              </div>
            </div>
            <div class="row">
              <div class="col-12 mt-3 text-left">
                <address>
                  <strong>{{ ms.fields.location | uppercase}} :</strong>
                  <br>
                  {{job?.location}}<br><br>
                </address>

                <address>
                  <strong>{{ ms.fields.spec | uppercase}} :</strong>
                  <br>
                  {{job?.spec}}<br><br>
                </address>
               
                <span  class="badge badge-light" *ngFor="let category of job?.categories">
                  {{category?.title}}
                </span>
              </div>
            </div>
            <div class="d-print-none">
              <div class="text-center">
                 <a (click)="onApplyClick()" href="javascript: void(0);" class="btn btn-pink btn-lg ml-1">
                  <i class="bx bxs-hand-up "></i> {{ms.cruds.apply}}
                 </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  
  </div> <!-- container-fluid -->