.truncate_text{
    width:400px;
    overflow:hidden;
    font-size: 100%;
    color: #495057;
  }

  .select-card
  {
    cursor: pointer;
  }

  .text-description
  {
    font-size: 14px;
    color: #495057;
  }