<div class="card select-card" >
  <div class="card-body" (click)="onApplyClick(job.id)">
    <div class="media">
      <div class="avatar-md mr-4">
        <span
          class="avatar-title rounded bg-light text-danger font-size-16"
        >
          <img src="{{showLogo(job)}}" alt height="30" />
        </span>
      </div>

      <div class="media-body overflow-hidden">
        <h5 class="text-truncate font-size-15">
          <a href="javascript: void(0);" class="text-dark">
            {{job.title}}

            <footer *ngIf="job.show_salary" class="blockquote-footer">{{showSalary(job.salary | currency:'MXN') }}
              </footer>
              
          </a>
        </h5>
        <pre class="truncate_text" >{{job.description}}</pre>
      </div>
    </div>
  </div>
  <div class="px-4 py-3 border-top">
    <ul class="list-inline mb-0">
      
      <li class="list-inline-item mr-3" title="Due Date" ngbTooltip="Creación de la vacante">
        <i class="bx bx-calendar mr-1"></i>
        {{job.ago}}
      </li>
      <li class="list-inline-item mr-3" title="Ubicación" ngbTooltip="Ubicación">
        <i class="bx bx bxs-location-plus mr-1"></i>
        {{job.location}}
      </li>
      <li *ngIf="job.employer" class="list-inline-item mr-3" title="Empresa" ngbTooltip="Empresa">
        <small > <i class="mdi mdi-office-building"></i>{{job.employer}}</small>
      </li>
      <li class="list-inline-item mr-3">
        <span  class="badge badge-primary" *ngFor="let category of job.categories">
          {{category.title}}
        </span>
      </li>
    </ul>
  </div>

  <!-- Sección de administrador-->
  <div *ngIf="admin" class="px-4 py-3 border-top">
    <ul class="list-inline mb-0">
      
      <li class="list-inline-item mr-3" title="Editar" ngbTooltip="Editar">
        <a
        [routerLink]="['/jobs', job?.id]"
      >
        <i class="mdi mdi-eye mdi-24px text-primary"></i
      ></a>
      </li>
      <li class="list-inline-item mr-3" title="Activar" ngbTooltip="Activar">
        <a
       
        (click)="onActiveClick(job?.id, job?.active)"
        href="javascript:void(0);"
      >
        <i
        class="bx bx-sm"
          [ngClass]="{
            bx: true,
            'bxs-toggle-right text-success': job?.active,
            'bxs-toggle-left text-secondary': !job?.active
          }"
        ></i
      ></a>
      </li>
     
    </ul>
  </div>
  <!-- Sección de administrador-->

</div>
