<div class="card">
    <div class="card-body text-center">
      <i class=" bx bx-md bx-user-check "></i>
      <h4 class="card-title mb-4 text-wrap ">
        {{ms.jobs.my_jobs}}
      </h4>
      <app-stat [title]="ms.total" [value]="total" [icon]="'bx bx-briefcase-alt '"></app-stat>
    </div>
  </div>