<div class="card">
  <div class="card-body">
    <div class="media">

      <div class="media-body overflow-hidden">
        <h5 class="text-truncate font-size-15">
          <a href="javascript: void(0);" class="text-dark">
            {{ms.not_found.title}} <i class="bx bx-md bx-search-alt" ></i>
          </a>
        </h5>
        <p class="text-wrap">{{ms.not_found.description}}</p>
      </div>
    </div>
  </div>
</div>
