<div class="row">
  <div class="col-lg-12">
    <div class="card bg-primary ">

      <div class="card-body">
        <form name="form" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
          <div class="row">


            <div class="col-lg-6">
              <label for="searchQ">
                <h5 class="text-white mt-3">{{ms.search_dashboard.WHAT}}</h5>
              </label>
              <input id="searchQ" formControlName="q" class="form-control form-control-md" type="search"
                placeholder="{{ms.search_dashboard.WHAT_DESC}}">

            </div>

            <div class="col-lg-6">
              <label for="searchQ">
                <h5 class="text-white mt-3">{{ms.search_dashboard.WHERE}}</h5>
              </label>
              <ng-select formControlName="location" (search)="onSearchKey($event)" notFoundText="No se encuentra"
                bindValue="id" class="form-control-md " bindLabel="name" [loading]=loadingText loadingText="Buscando..."
                [minTermLength]=3 [searchable]=true [virtualScroll]=true [clearOnBackspace]=true groupBy="description"
                appendTo='body' (change)="onSearchChange($event)" [placeholder]="ms.search_dashboard.WHERE_DESC"
                [items]="locations"></ng-select>
            </div>

          </div>

          <div class="row">
              <div class="col-md-3 col-md-offset-9 ">
                <button id="submit" type="submit" class="btn btn-pink w-lg mt-3">
                  <i _ngcontent-fip-c210="" class="bx bx bx-search-alt  font-size-16 align-middle mr-2"></i>
                  {{ms.search_dashboard.SEARCH}}</button>
              </div>
              <div *ngIf="admin" class="col-md-3 col-md-offset-9 ">
                <div class="button-items">
                  <a [routerLink]="['/jobs/new']" href="javascript:void(0)" ngbTooltip="Nuevo" 
                  class="btn btn-sm btn-info mt-3">
                    <i class="fas fa-plus"></i> {{ms.addNew}}
                  </a>
                </div>
              </div>
              

          </div>
        </form>
        <!-- end row -->
      </div>
      <div class="card-footer ">
        {{ recordsFound }}
      </div>
    </div>
  </div>

  <div class="col-lg-8">
    <app-dashboard-job-skeleton *ngIf="loadJob"></app-dashboard-job-skeleton>
    <app-dashboard-job-not-found *ngIf="notFound"></app-dashboard-job-not-found>
    <app-dashboard-job [admin]="admin" [session]="session" *ngFor="let job of jobs" [job]="job"></app-dashboard-job>
  </div>

  <div class="col-lg-4">
    <app-common-information *ngIf="session && !admin" [payload]="payload"></app-common-information>

    <div *ngIf="!session" class="card">
      <div class="card-body text-center">
        <i class=" bx bx-md bx-user-check "></i>
        <h4 class="card-title mb-4 text-wrap ">

          {{ms.register.FREE_INDEX}}
          <br>
          <hr><a [routerLink]="['/account/signup']" href="javascript:void(0)" class="btn btn-outline-pink btn-lg">
            {{ms.register.DESC}}</a>
          <hr><a [routerLink]="['/account/login']" href="javascript:void(0)" class="btn btn-outline-success btn-lg">
            {{ms.i_have_account}}</a>
        </h4>

      </div>
    </div>

    <app-dashboard-my-jobs *ngIf="admin"></app-dashboard-my-jobs>



  </div>
</div>
<div class="row" *ngIf="hasRecords">
  <div class="col-lg-12">
    {{ messageRecords }}

    <ul class="pagination pagination-rounded justify-content-left mt-4">
      <li [ngClass]="{ disabled: !leftArrow }" class="page-item">
        <a (click)="backSegmentPages()" href="javascript: void(0);" class="page-link"><i
            class="mdi mdi-chevron-left"></i></a>
      </li>
      <li *ngFor="let page of pages" [ngClass]="{ active: page === pageActive }" class="page-item">
        <a (click)="onNextPageClick($event, page)" href="javascript: void(0);" class="page-link">{{ page }}</a>
      </li>

      <li [ngClass]="{ disabled: !rightArrow }" class="page-item">
        <a (click)="nextSegmentPages()" href="javascript: void(0);" class="page-link"><i
            class="mdi mdi-chevron-right"></i></a>
      </li>
    </ul>
  </div>
</div>
