<div class="card" *ngFor="let sk of skeleton">
  <div class="card-body">
    <ngx-skeleton-loader appearance="circle" count="1"> </ngx-skeleton-loader>
    <ngx-skeleton-loader count="3"> </ngx-skeleton-loader>
  </div>
</div>
